<p id="notice"><%= notice %></p>

<p>
  <strong>Sync:</strong>
  <%= @commit.sync %>
</p>

<p>
  <strong>Git commit:</strong>
  <%= @commit.git_commit_id %>
</p>

<p>
  <strong>Git diff:</strong>
  <%= @commit.git_diff %>
</p>

<p>
  <strong>Sprint:</strong>
  <%= @commit.sprint %>
</p>

<p>
  <strong>Task:</strong>
  <%= @commit.task %>
</p>

<%= link_to 'Edit', edit_commit_path(@commit) %> |
<%= link_to 'Back', commits_path %>
