<h1>Welcome <%= current_user.first_name %> <%= current_user.last_name %>.</h1>

<% unless current_user.customer_projects.empty? %>
  <% total_payment = 0.0 %>
  <% total_cost = 0.0 %>
  <% total_hours = 0.0 %>
  <% total_balance = 0.0 %>
  <div class="panel panel-default">
    <div class="panel-heading">
      Owner Projects
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="list-group">
            <% current_user.owner_projects.each do |project| %>
              <a href="<%= project_path(project) %>" class="list-group-item">
                <h4 class="list-group-item-heading"><%= project.name %></h4>
                <p class="list-group-item-text">
                <p><%= project.description %></p><br>

                <div id="project_description_home">
                  <% if project.total_planned_hours > 0 %>
                    <span class="alert alert-success">Planned Cost: <%= project.total_planned_cost %></span>
                    <span class="alert alert-success">planned Hours: <%= project.total_planned_hours %></span>
                  <% end %>
                  <% if project.total_hours > 0 %>
                    <span class="alert alert-success">Total Billed: <%= project.total_cost %></span>
                    <span class="alert alert-success">Billed Hours: <%= project.total_hours %></span>
                    <span class="alert alert-warning">Total Payment: <%= project.total_payment %></span>
                    <% if project.total_balance > 0 %>
                      <% total_balance = total_balance + project.total_balance %>
                      <span class="alert alert-danger">Total Payment: <%= project.total_balance %></span>
                    <% end %>
                    <% total_payment = total_payment + project.total_payment %>
                    <% total_cost = total_cost + project.total_cost %>
                    <% total_hours = total_hours + project.total_hours %>
                  <% end %>
                </div>
                </p>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div id="home_widgets" class="row hidden-xs hidden-sm">

      <div onclick="$('#sprint_cost_message').toggle('slide'); return false;" class="col-sm-3">
        <div class="xe-widget xe-counter" data-count=".num" data-from="0" data-to="<%= total_cost.to_s %>" data-suffix=" $" data-duration="2">
          <div class="xe-icon">
            <i class="fas fa-dollar-sign"></i>
          </div>
          <div class="xe-label">
            <strong class="num">$<%= total_cost.to_s %></strong>
            <span>Overall Billed Revenue</span>
          </div>
        </div>
      </div>

      <div onclick="$('#sprint_hours_message').toggle('slide'); return false;" class="col-sm-3">
        <div class="xe-widget xe-counter" data-count=".num" data-from="0" data-to="<%= total_hours.to_s %>" data-suffix=" Hours" data-duration="2">
          <div class="xe-icon">
            <i class="far fa-clock"></i>
          </div>
          <div class="xe-label">
            <strong class="num"><%= total_hours.to_s %> Hours</strong>
            <span>Billed Hours</span>
          </div>
        </div>
      </div>

      <div onclick="$('#sprint_cost_message').toggle('slide'); return false;" class="col-sm-3">
        <div class="xe-widget xe-counter" data-count=".num" data-from="0" data-to="<%= total_payment.to_s %>" data-suffix=" $" data-duration="2">
          <div class="xe-icon">
            <i class="fas fa-dollar-sign"></i>
          </div>
          <div class="xe-label">
            <strong class="num">$<%= total_payment.to_s %></strong>
            <span>Total Payment</span>
          </div>
        </div>
      </div>

      <div onclick="$('#sprint_cost_message').toggle('slide'); return false;" class="col-sm-3">
        <div class="xe-widget xe-counter" data-count=".num" data-from="0" data-to="<%= total_balance.to_s %>" data-suffix=" $" data-duration="2">
          <div class="xe-icon">
            <i class="fas fa-dollar-sign"></i>
          </div>
          <div class="xe-label">
            <strong class="num">$<%= total_balance.to_s %></strong>
            <span>Overall Unpaid Balance</span>
          </div>
        </div>
      </div>

    </div>
  </div>
  <hr>
<% end %>



<% unless current_user.invitations.empty? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      Invitations
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="list-group">
            <% current_user.invitations.each do |invitation| %>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading"><%= invitation.project.name %></h4>
                <p class="list-group-item-text"><%= invitation.project.description %></p>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% unless current_user.customer_projects.empty? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      Customer Projects
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="list-group">
            <% current_user.customer_projects.each do |project| %>
              <a href="<%= project_path(project) %>" class="list-group-item">
                <h4 class="list-group-item-heading"><%= project.name %></h4>
                <p class="list-group-item-text"><%= project.description %></p>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

