<h1>Welcome <%= current_user.first_name %> <%= current_user.last_name %>.</h1>

<% unless current_user.customer_projects.empty? %>
  <% total_payment = 0.0 %>
  <% total_cost = 0.0 %>
  <% total_hours = 0.0 %>
  <% total_balance = 0.0 %>
  <div class="panel panel-default">
    <div class="panel-heading">
      Your Projects
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="list-group">
            <% current_user.owner_projects.each do |project| %>
              <a href="<%= project_path(project) %>" class="list-group-item">
                <h4 class="list-group-item-heading"><%= project.name %></h4>
                <p class="list-group-item-text">
                <p><%= project.description %></p><br>

                <div id="project_description_home">
                  <% if project.total_planned_hours > 0 %>
                    <span class="alert alert-success">Planned Cost: <%= project.total_planned_cost %></span>
                    <span class="alert alert-success">planned Hours: <%= project.total_planned_hours %></span>
                  <% end %>
                  <% if project.total_hours > 0 %>
                    <span class="alert alert-success">Total Billed: <%= project.total_cost %></span>
                    <span class="alert alert-success">Billed Hours: <%= project.total_hours %></span>
                    <span class="alert alert-warning">Total Payment: <%= project.total_payment %></span>
                    <% if project.total_balance > 0 %>
                      <% total_balance = total_balance + project.total_balance %>
                      <span class="alert alert-danger">Total Payment: <%= project.total_balance %></span>
                    <% end %>
                    <% total_payment = total_payment + project.total_payment %>
                    <% total_cost = total_cost + project.total_cost %>
                    <% total_hours = total_hours + project.total_hours %>
                  <% end %>
                </div>
                </p>
              </a>
            <% end %>
          </div>
        </div>
      </div>

      <%= render 'main/home_widgets', total_cost: total_cost, total_payment: total_payment, total_balance: total_balance, total_hours: total_hours %>

    </div>
  </div>
  <hr>
<% end %>

<% unless current_user.invitations.empty? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      Invitations
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="list-group">
            <% current_user.invitations.each do |invitation| %>
              <div class="list-group-item">
                <h4 class="list-group-item-heading"><%= invitation.project.name %></h4>
                <p class="list-group-item-text">
                <p><%= invitation.project.description %></p>

                  <p>
                    <%= link_to 'Accept', accept_invitation_path(invitation.id), class: 'btn btn-success' %>
                    <%= link_to 'Decline', decline_invitation_path(invitation.id), class: 'btn btn-danger' %>
                  </p>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% unless current_user.customer_projects.empty? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      Projects Member
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="list-group">
            <% current_user.customer_projects.each do |project| %>
              <a href="<%= project_path(project) %>" class="list-group-item">
                <h4 class="list-group-item-heading"><%= project.name %></h4>
                <p class="list-group-item-text">
                  <p><%= project.description %></p>
                </p>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

