<div id="wrapper" class="clearfix">

  <header id="header" class="full-header">

    <div id="header-wrap">

      <div class="container clearfix">

        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

        <div id="logo" style="margin-top:20px; border:0px solid white">
          <a href="<%= root_url %>" class="standard-logo" data-dark-logo="<%= image_path 'jeweler-logo-full-black.png' %>">
            <img style="width:175px; height: auto;" src="<%= image_path 'jeweler-logo-full-white.png' %>" alt="Canvas Logo">
          </a>
          <a href="<%= root_url %>" class="retina-logo" data-dark-logo="<%= image_path 'jeweler-logo-full-black.png' %>">
            <img style="width:175px; height: auto;" src="<%= image_path 'jeweler-logo-full-white.png' %>" alt="Canvas Logo">
          </a>
        </div><!-- #logo end -->

        <nav id="primary-menu">

          <ul>
            <li class="current"><a href="<%= root_url %>">
              <div>Home</div>
            </a></li>
          </ul>

          <div id="top-cart">
            <a href="<%= new_user_registration_path %>"><i class="icon-user"></i> </a>
          </div>
          <div id="top-search">
            <a href="<%= new_user_session_path %>"><i class="icon-unlock"></i></a>
          </div>

        </nav><!-- #primary-menu end -->

      </div>

    </div>

  </header><!-- #header end -->

  <style>

    .revo-slider-emphasis-text {
      font-size: 64px;
      font-weight: 700;
      letter-spacing: -1px;
      font-family: 'Raleway', sans-serif;
      padding: 15px 20px;
      border-top: 2px solid #FFF;
      border-bottom: 2px solid #FFF;
    }

    .revo-slider-desc-text {
      font-size: 20px;
      font-family: 'Lato', sans-serif;
      width: 650px;
      text-align: center;
      line-height: 1.5;
    }

    .revo-slider-caps-text {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 3px;
      font-family: 'Raleway', sans-serif;
    }

    .tp-video-play-button {
      display: none !important;
    }

    .tp-caption {
      white-space: nowrap;
    }

  </style>

  <div class="section parallax dark nobottommargin nobottomborder notopmargin full-screen"
       style="background: url('<%= image_path 'home/appshowcase/1.jpg' %>'); background-size: cover;">

    <div class="container clearfix">

      <img src="<%= image_path 'home/appshowcase/slider-iphone.png' %>" alt="Image" class="hidden-sm hidden-xs" style="position: absolute; left: 200; bottom: 0;" data-height-md="450">

      <div class="vertical-middle no-fade">
        <div class="col-md-6 dark fright nobottommargin" data-animate="fadeIn">

          <div class="emphasis-title">
            <h1>A <strong>Free</strong> CRM, Project Planning and Invoicing Application For Programmers.
              <strong>Devs Love Jeweler</strong>.</h1>
          </div>

          <div class="hidden-xs">
            <a href="<%= new_user_registration_path %>" class="button button-desc button-border button-light button-rounded nomargin"><i class="icon-apple"></i>
              <div>Register Free. <span>Sign Up Now!</span></div>
            </a>
          </div>

          <div class="visible-xs">
            <a href="<%= new_user_registration_path %>" class="button button-light button-xlarge button-rounded nomargin"><i class="icon-apple"></i>Register
              For Jeweler</a>
          </div>

        </div>
      </div>

    </div>

  </div>


  <section id="content">

    <div class="content-wrap">

      <div class="container clearfix">

        <div class="col_one_third nobottommargin center">
          <!--<a href="#"><img src="<%= image_path 'home/appshowcase/s1.png' %>" alt="Image" class="bottommargin-sm"></a>-->
          <h4>CRM</h4>
          <p>Keep your Customers always informed of your progress, without leaving the code. Using Git Commit-Codes, you
            can post project updates without leaving terminal.</p>
        </div>

        <div class="col_one_third nobottommargin center">
          <!--<a href="#"><img src="<%= image_path 'home/appshowcase/s4.png' %>" alt="Image" class="bottommargin-sm"></a>-->
          <h4>Billing Software</h4>
          <p>Generate Estimates, Invoices and send them to clients, then collect payments. Using Stripe you can request
            payment for work, and customers pay directly in Jeweler.</p>
        </div>

        <div class="col_one_third nobottommargin center col_last">
          <!--<a href="#"><img src="<%= image_path 'home/appshowcase/s5.png' %>" alt="Image" class="bottommargin-sm"></a>-->
          <h4>AGILE Project Planning</h4>
          <p>Create Sprints, and fill them with tasks. Open and Close sprints as you complete them, then request payment
            for your work!</p>
        </div>

      </div>

      <div class="section nobottommargin" style="padding-bottom: 150px;">

        <div class="hidden-sm hidden-xs"
             style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: transparent url('<%= image_path 'home/appshowcase/section-1.png' %>') bottom right no-repeat;"></div>

        <div class="container clearfix" style="z-index: 1;">

          <div class="col-md-6 nobottommargin">

            <div class="heading-block topmargin-sm">
              <h2>Customer Relationship Management</h2>
              <span>Customers and Stakeholders Can See Where Their Money is Going!</span>
            </div>

            <p>Keep your Stakeholders informed. Post notes and project updates easily through Git Commit Message
              Commands, allowing customers to always see what you are working on, without ever leaving a terminal.</p>

            <p>Discuss any event done on the website. Receive feedback, and build what your customer actually wants.</p>

            <a href="<%= new_user_registration_path %>#" class="button button-border button-rounded button-large button-dark noleftmargin">Register
              Free!</a>

          </div>

        </div>

      </div>

      <div class="section notopmargin nobottommargin">
        <div class="container clearfix">

          <div class="col_half nobottommargin topmargin-lg">

            <img src="<%= image_path 'home/appshowcase/section-2.png' %>" alt="Image" class="center-block">

          </div>

          <div class="col_half nobottommargin topmargin-lg col_last">

            <div class="heading-block topmargin-lg">
              <h2>Invoicing Software</h2>
              <span>Generate Invoices and Estimates</span>
            </div>

            <p>Want to get paid for development? Send a payment request for any Sprint using Jeweler. Once the customer
              pays, you can transfer the money to your account anytime. Then keep track of your Software Development
              Income from Jeweler.</p>

            <a href="#" class="button button-border button-rounded button-large button-dark noleftmargin">Download The
              Jeweler App</a>

          </div>

        </div>
      </div>

      <div class="section nobottommargin" style="padding-bottom: 150px;">

        <div class="hidden-sm hidden-xs"
             style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: transparent url('<%= image_path 'home/appshowcase/section-3.jpg' %>') bottom right no-repeat;"></div>

        <div class="container clearfix" style="z-index: 1;">

          <div class="col-md-6 nobottommargin">

            <div class="heading-block topmargin-sm">
              <h2>Invoicing Software</h2>
              <span>Customers and Stakeholders Can See Where Their Money is Going!</span>
            </div>

            <p>Keep your Stakeholders informed. Post notes, project updates, and Git Commit Messages, allowing customers
              to always see what you are working on.</p>

            <p>Choose what information your customers see, and allow them to stay confident that you are always coding,
              and their money is being well spent.</p>

            <a href="<%= new_user_registration_path %>#" class="button button-border button-rounded button-large button-dark noleftmargin">Register
              Free!</a>

          </div>

        </div>

      </div>

      <div class="section dark notopmargin" style="padding-top: 60px;">
        <div class="container clearfix">

          <div class="col_one_third">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon">
                <a href="#"><i class="icon-screen"></i></a>
              </div>
              <h3>AGILE</h3>
              <p>Create Development Cycles (Sprints), and populate them with Development Tasks. View the estimated hours
                for each sprint, and report your development hours for each sprint; for project-planning, cost-planning
                and project management.</p>
            </div>
          </div>

          <div class="col_one_third">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon">
                <a href="#"><i class="icon-eye"></i></a>
              </div>
              <h3>Post Demo's</h3>
              <p>Keep your customers happy by posting Demo's to Jeweler. Allowing them a window to view your project and
                inspect your progress.</p>
            </div>
          </div>

          <div class="col_one_third col_last">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon">
                <a href="#"><i class="icon-beaker"></i></a>
              </div>
              <h3>Get Paid</h3>
              <p>Request payment for a sprint at any time, and accept payment directly in Jeweler. Send Emails to
                clients with a link to pay for your work directly.</p>
            </div>
          </div>

          <div class="clear"></div>

          <div class="col_one_third nobottommargin">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon">
                <a href="#"><i class="icon-ok"></i></a>
              </div>
              <h3>Invoicing and Estimates</h3>
              <p>Generate beautiful Estimates and Invoices, then send them to your clients and request payment via
                EMail, or print them yourselves and mail them.</p>
            </div>
          </div>

          <div class="col_one_third nobottommargin">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon">
                <a href="#"><i class="icon-thumbs-up"></i></a>
              </div>
              <h3>Keep Stakeholders Updated</h3>
              <p>Stakeholders want to see where their money is being spent. Keep them always informed by posting project
                updates, notes and demo's.</p>
            </div>
          </div>

          <div class="col_one_third nobottommargin col_last">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon">
                <a href="#"><i class="icon-magnet"></i></a>
              </div>
              <h3>Discuss Development</h3>
              <p>Discuss any Note, Project Update, Demo, Payment, Payment Request or any other action on Jeweler with
                members of your project.</p>
            </div>
          </div>

          <div class="clear"></div>
          <div class="line"></div>

          <div class="heading-block center">
            <h2>You Need Jeweler For Any Software Application Development.</h2>
          </div>

          <div style="position: relative; margin-bottom: -60px;" data-height-lg="415" data-height-md="342" data-height-sm="262" data-height-xs="160" data-height-xxs="102">
            <img src="<%= image_path 'home/services/chrome.png' %>" style="position: absolute; top: 0; left: 0;" data-animate="fadeInUp" alt="Chrome">
            <img src="<%= image_path 'home/services/ipad3.png' %>" style="position: absolute; top: 0; left: 0;" data-animate="fadeInUp" data-delay="300" alt="iPad">
          </div>

        </div>
      </div>

      <div class="container clearfix">

        <div class="heading-block center">
          <h3>Connect With Your Clients Like Never Before.</h3>
          <span>Clients are always worried - where is my money going?.</span>
        </div>

        <p class="divcenter center" style="max-width: 800px;">Keep your customers happy, by always keeping them informed
          without ever leaving your terminal using Git Commit Codes. Plan your projects better using sprint planning.
          Accept payments from clients easily, and keep track of your income. This is the must-use tool for
          <strong>all</strong> Software Development Contractors.</p>

        <div class="col_full center topmargin nobottommargin">

          <a href="#" class="social-icon si-appstore si-large si-rounded si-colored inline-block" title="iOS App Store">
            <i class="icon-appstore"></i>
            <i class="icon-appstore"></i>
          </a>

          <a href="#" class="social-icon si-android si-large si-rounded si-colored inline-block" title="Android Store">
            <i class="icon-android"></i>
            <i class="icon-android"></i>
          </a>

          <a href="#" class="social-icon si-gplus si-large si-rounded si-colored inline-block" title="Windows Store">
            <i class="icon-windows3"></i>
            <i class="icon-windows3"></i>
          </a>

        </div>

        <div class="clear"></div>

        <div class="divider divider-short divider-vshort divider-line divider-center">&nbsp;</div>

        <div class="heading-block center">
          <h3>Subscribe for more <span>Updates</span>.</h3>
        </div>

        <div class="subscribe-widget">
          <div class="widget-subscribe-form-result"></div>
          <form id="widget-subscribe-form2" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
            <div class="input-group input-group-lg divcenter" style="max-width:600px;">
              <span class="input-group-addon"><i class="icon-email2"></i></span>
              <input type="email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
              <span class="input-group-btn">
									<button class="btn btn-default" type="submit">Subscribe Now</button>
								</span>
            </div>
          </form>
        </div>

      </div>

    </div>

  </section><!-- #content end -->

  <footer id="footer" class="dark">

    <% #TODO: Homepage (Unauth) Big Footer %>
    <% if false %>
      <div class="container">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap clearfix">

          <div class="col_two_third">

            <div class="col_one_third">

              <div class="widget clearfix">

                <img src="<%= image_path 'home/footer-widget-logo.png' %>" alt="" class="footer-logo">

                <p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong>
                  Design
                  Standards.</p>

                <div style="background: url('<%= image_path 'home/world-map.png' %>') no-repeat center center; background-size: 100%;">
                  <address>
                    <strong>Headquarters:</strong><br>
                    795 Folsom Ave, Suite 600<br>
                    San Francisco, CA 94107<br>
                  </address>
                  <abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 8547 632521<br>
                  <abbr title="Fax"><strong>Fax:</strong></abbr> (91) 11 4752 1433<br>
                  <abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com
                </div>

              </div>

            </div>

            <div class="col_one_third">

              <div class="widget widget_links clearfix">

                <h4>Blogroll</h4>

                <ul>
                  <li><a href="http://codex.wordpress.org/">Documentation</a></li>
                  <li><a href="http://wordpress.org/support/forum/requests-and-feedback">Feedback</a></li>
                  <li><a href="http://wordpress.org/extend/plugins/">Plugins</a></li>
                  <li><a href="http://wordpress.org/support/">Support Forums</a></li>
                  <li><a href="http://wordpress.org/extend/themes/">Themes</a></li>
                  <li><a href="http://wordpress.org/news/">WordPress Blog</a></li>
                  <li><a href="http://planet.wordpress.org/">WordPress Planet</a></li>
                </ul>

              </div>

            </div>

            <div class="col_one_third col_last">

              <div class="widget clearfix">
                <h4>Recent Posts</h4>

                <div id="post-list-footer">
                  <div class="spost clearfix">
                    <div class="entry-c">
                      <div class="entry-title">
                        <h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
                      </div>
                      <ul class="entry-meta">
                        <li>10th July 2014</li>
                      </ul>
                    </div>
                  </div>

                  <div class="spost clearfix">
                    <div class="entry-c">
                      <div class="entry-title">
                        <h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
                      </div>
                      <ul class="entry-meta">
                        <li>10th July 2014</li>
                      </ul>
                    </div>
                  </div>

                  <div class="spost clearfix">
                    <div class="entry-c">
                      <div class="entry-title">
                        <h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
                      </div>
                      <ul class="entry-meta">
                        <li>10th July 2014</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div class="col_one_third col_last">

            <div class="widget clearfix" style="margin-bottom: -20px;">

              <div class="row">

                <div class="col-md-6 bottommargin-sm">
                  <div class="counter counter-small">
                    <span data-from="50" data-to="15065421" data-refresh-interval="80" data-speed="3000" data-comma="true"></span>
                  </div>
                  <h5 class="nobottommargin">Total Downloads</h5>
                </div>

                <div class="col-md-6 bottommargin-sm">
                  <div class="counter counter-small">
                    <span data-from="100" data-to="18465" data-refresh-interval="50" data-speed="2000" data-comma="true"></span>
                  </div>
                  <h5 class="nobottommargin">Clients</h5>
                </div>

              </div>

            </div>

            <div class="widget subscribe-widget clearfix">
              <h5><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp; Inside
                Scoops:
              </h5>
              <div class="widget-subscribe-form-result"></div>
              <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
                <div class="input-group divcenter">
                  <span class="input-group-addon"><i class="icon-email2"></i></span>
                  <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
                  <span class="input-group-btn">
										<button class="btn btn-success" type="submit">Subscribe</button>
									</span>
                </div>
              </form>
            </div>

            <div class="widget clearfix" style="margin-bottom: -20px;">

              <div class="row">

                <div class="col-md-6 clearfix bottommargin-sm">
                  <a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
                    <i class="icon-facebook"></i>
                    <i class="icon-facebook"></i>
                  </a>
                  <a href="#">
                    <small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small>
                  </a>
                </div>
                <div class="col-md-6 clearfix">
                  <a href="#" class="social-icon si-dark si-colored si-rss nobottommargin" style="margin-right: 10px;">
                    <i class="icon-rss"></i>
                    <i class="icon-rss"></i>
                  </a>
                  <a href="#">
                    <small style="display: block; margin-top: 3px;"><strong>Subscribe</strong><br>to RSS Feeds</small>
                  </a>
                </div>

              </div>

            </div>

          </div>

        </div><!-- .footer-widgets-wrap end -->

      </div>
    <% end %>

    <div id="copyrights">

      <div class="container clearfix">

        <div class="col_half">
          Copyrights &copy; 2018 All Rights Reserved by Blue Helmet Software Company<br>
          <% #TODO: Write privacy policy / get a Terms of Use %>
          <div class="copyright-links"><a href="#">Terms of Use</a> <% if false %> / <a href="#">Privacy Policy</a> <% end %></div>
        </div>

        <div class="col_half col_last tright">
          <div class="fright clearfix">
            <a href="#" class="social-icon si-small si-borderless si-facebook">
              <i class="icon-facebook"></i>
              <i class="icon-facebook"></i>
            </a>

            <!-- TODO: Build Social Media Presence -->
            <!--<a href="#" class="social-icon si-small si-borderless si-twitter">-->
              <!--<i class="icon-twitter"></i>-->
              <!--<i class="icon-twitter"></i>-->
            <!--</a>-->

            <!--<a href="#" class="social-icon si-small si-borderless si-gplus">-->
              <!--<i class="icon-gplus"></i>-->
              <!--<i class="icon-gplus"></i>-->
            <!--</a>-->

            <!--<a href="#" class="social-icon si-small si-borderless si-pinterest">-->
              <!--<i class="icon-pinterest"></i>-->
              <!--<i class="icon-pinterest"></i>-->
            <!--</a>-->

            <!--<a href="#" class="social-icon si-small si-borderless si-vimeo">-->
              <!--<i class="icon-vimeo"></i>-->
              <!--<i class="icon-vimeo"></i>-->
            <!--</a>-->

            <!--<a href="#" class="social-icon si-small si-borderless si-github">-->
              <!--<i class="icon-github"></i>-->
              <!--<i class="icon-github"></i>-->
            <!--</a>-->

            <!--<a href="#" class="social-icon si-small si-borderless si-yahoo">-->
              <!--<i class="icon-yahoo"></i>-->
              <!--<i class="icon-yahoo"></i>-->
            <!--</a>-->

            <!--<a href="#" class="social-icon si-small si-borderless si-linkedin">-->
              <!--<i class="icon-linkedin"></i>-->
              <!--<i class="icon-linkedin"></i>-->
            <!--</a>-->
          </div>

          <div class="clear"></div>

          <i class="icon-envelope2"></i> jeweler@bluehelmet.software <span class="middot">&middot;</span>
          <i class="icon-headphones"></i> +91-11-6541-6369 <span class="middot">&middot;</span>
          <i class="icon-skype2"></i> CanvasOnSkype
        </div>

      </div>

    </div><!-- #copyrights end -->

  </footer><!-- #footer end -->

</div><!-- #wrapper end -->

<div id="gotoTop" class="icon-angle-up"></div>
