<div id="wrapper" class="clearfix">

  <header id="header" class="full-header">

    <div id="header-wrap">

      <div class="container clearfix">

        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

        <div id="logo" style="margin-top:20px; border:0px solid white">
          <a href="<%= root_url %>" class="standard-logo" data-dark-logo="<%= image_path 'jeweler-logo-full.png' %>">
            <img style="width:auto; height: 40px;" src="<%= image_path 'jeweler-logo-full.png' %>" alt="Canvas Logo">
          </a>
          <a href="<%= root_url %>" class="retina-logo" data-dark-logo="<%= image_path 'jeweler-logo-full.png' %>">
            <img style="width:auto; height: 40px;" src="<%= image_path 'jeweler-logo-full.png' %>" alt="Canvas Logo">
          </a>
        </div><!-- #logo end -->

        <nav id="primary-menu">

          <ul>
            <li class="current">
              <a href="<%= root_url %>">
                <div>Home</div>
              </a>
            </li>
            <li>
              <a href="<%= new_user_registration_path %>">
                <div>Register</div>
              </a>
            </li>
            <li>
              <a href="<%= new_user_session_path %>">
                <div>Login</div>
              </a>
            </li>
          </ul>
        </nav><!-- #primary-menu end -->

      </div>

    </div>

  </header><!-- #header end -->

  <style>

    .revo-slider-emphasis-text {
      font-size: 64px;
      font-weight: 700;
      letter-spacing: -1px;
      font-family: 'Raleway', sans-serif;
      padding: 15px 20px;
      border-top: 2px solid #FFF;
      border-bottom: 2px solid #FFF;
    }

    .revo-slider-desc-text {
      font-size: 20px;
      font-family: 'Lato', sans-serif;
      width: 650px;
      text-align: center;
      line-height: 1.5;
    }

    .revo-slider-caps-text {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 3px;
      font-family: 'Raleway', sans-serif;
    }

    .tp-video-play-button {
      display: none !important;
    }

    .tp-caption {
      white-space: nowrap;
    }

  </style>

  <div class="section parallax dark nobottommargin nobottomborder notopmargin full-screen"
       style="background: url('<%= image_path 'home/appshowcase/1.jpg' %>'); background-size: cover;">

    <div class="container clearfix">

      <img src="<%= image_path 'home/appshowcase/slider-iphone.png' %>" alt="Image" class="hidden-sm hidden-xs" style="position: absolute; left: 200; bottom: 0;" data-height-md="450">

      <div class="vertical-middle no-fade">
        <div class="col-md-6 dark fright nobottommargin" data-animate="fadeIn">

          <div class="emphasis-title">
            <h1><strong>Free</strong> CRM, Sprint Project Planning and Invoicing
              <strong>For Devs</strong>.</h1>
          </div>

          <div class="hidden-xs">
            <a href="<%= new_user_registration_path %>" class="button button-desc button-border button-light button-rounded nomargin">
              <i class="fas fa-user-plus"></i>
              <div>Register Free. <span>Sign Up Now!</span></div>
            </a>
          </div>

          <div class="visible-xs">
            <a href="<%= new_user_registration_path %>" class="button button-light button-xlarge button-rounded nomargin">
              <i class="fas fa-user-plus"></i> Register For Jeweler</a>
          </div>

        </div>
      </div>

    </div>

  </div>


  <section id="content">

    <div class="content-wrap">

      <div class="section nobottommargin" style="padding-bottom: 150px;">

        <div class="hidden-sm hidden-xs"
             style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: transparent url('<%= image_path 'home/appshowcase/section-1.png' %>') bottom right no-repeat;"></div>

        <div class="container clearfix" style="z-index: 1;">

          <div class="col-md-6 nobottommargin">

            <div class="heading-block topmargin-sm">
              <h2>Customer Relationship Management</h2>
              <span>Customers and Stakeholders Can See Where Their Money is Going!</span>
            </div>

            <p>Keep your Stakeholders informed. Post notes and project updates easily through Git Commit Message
              Commands, allowing customers to always see what you are working on, without ever leaving a terminal.</p>

            <p>Discuss any event done on the website. Receive feedback, and build what your customer actually wants.</p>

            <a href="<%= new_user_registration_path %>#" class="button button-border button-rounded button-large button-dark noleftmargin">
              Register Free!</a>

          </div>

        </div>

      </div>

      <div class="section notopmargin nobottommargin">
        <div class="container clearfix">

          <div class="col_half nobottommargin topmargin-lg">

            <img src="<%= image_path 'home/appshowcase/section-2.png' %>" alt="Image" class="center-block">

          </div>

          <div class="col_half nobottommargin topmargin-lg col_last">

            <div class="heading-block topmargin-lg">
              <h2>Invoicing Software</h2>
              <span>Generate Invoices and Estimates</span>
            </div>

            <p>Want to get paid for development? Send a payment request for any Sprint using Jeweler. Once the customer
              pays, you can transfer the money to your account anytime. Then keep track of your Software Development
              Income from Jeweler.</p>

<!--            <a href="#" class="button button-border button-rounded button-large button-dark noleftmargin">Download The-->
<!--              Jeweler App</a>-->

          </div>

        </div>
      </div>

      <div class="section nobottommargin" style="padding-bottom: 150px;">

        <div class="hidden-sm hidden-xs"
             style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: transparent url('<%= image_path 'home/appshowcase/section-3.jpg' %>') bottom right no-repeat;"></div>

        <div class="container clearfix" style="z-index: 1;">

          <div class="col-md-6 nobottommargin">

            <div class="heading-block topmargin-sm">
              <h2>Sprint Planning</h2>
              <span>AGILE methodology is built into the Jeweler core</span>
            </div>

            <p>Jeweler is designed with AGILE in mind. All tasks are split into sprints. Open and close sprints.</p>

            <p>Keep customer informed on what sprint you are working on, and request payment for completed sprints. Discuss sprint events with your stakeholders.</p>

          </div>

        </div>

      </div>

      <div class="section dark notopmargin" style="padding-top: 60px;">
        <div class="container clearfix">

          <div class="col_one_third">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon">
                <a href="#"><i class="icon-screen"></i></a>
              </div>
              <h3>AGILE</h3>
              <p>Create Development Cycles (Sprints), and populate them with Development Tasks. View the estimated hours
                for each sprint, and report your development hours for each sprint; for project-planning, cost-planning
                and project management.</p>
            </div>
          </div>

          <div class="col_one_third">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon">
                <a href="#"><i class="icon-eye"></i></a>
              </div>
              <h3>Post Demo's</h3>
              <p>Keep your customers happy by posting Demo's to Jeweler. Allowing them a window to view your project and
                inspect your progress.</p>
            </div>
          </div>

          <div class="col_one_third col_last">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon">
                <a href="#"><i class="icon-beaker"></i></a>
              </div>
              <h3>Get Paid</h3>
              <p>Request payment for a sprint at any time, and accept payment directly in Jeweler. Send Emails to
                clients with a link to pay for your work directly.</p>
            </div>
          </div>

          <div class="clear"></div>

          <div class="col_one_third nobottommargin">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon">
                <a href="#"><i class="icon-ok"></i></a>
              </div>
              <h3>Invoicing and Estimates</h3>
              <p>Generate beautiful Estimates and Invoices, then send them to your clients and request payment via
                EMail, or print them yourselves and mail them.</p>
            </div>
          </div>

          <div class="col_one_third nobottommargin">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon">
                <a href="#"><i class="icon-thumbs-up"></i></a>
              </div>
              <h3>Keep Stakeholders Updated</h3>
              <p>Stakeholders want to see where their money is being spent. Keep them always informed by posting project
                updates, notes and demo's.</p>
            </div>
          </div>

          <div class="col_one_third nobottommargin col_last">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon">
                <a href="#"><i class="icon-magnet"></i></a>
              </div>
              <h3>Discuss Development</h3>
              <p>Discuss any Note, Project Update, Demo, Payment, Payment Request or any other action on Jeweler with
                members of your project.</p>
            </div>
          </div>

          <div class="clear"></div>
          <div class="line"></div>

          <div class="heading-block center">
            <h2>You Need Jeweler For Any Software Application Development.</h2>
          </div>

          <div style="position: relative; margin-bottom: -60px;" data-height-lg="415" data-height-md="342" data-height-sm="262" data-height-xs="160" data-height-xxs="102">
            <img src="<%= image_path 'home/services/chrome.png' %>" style="position: absolute; top: 0; left: 0;" data-animate="fadeInUp" alt="Chrome">
            <img src="<%= image_path 'home/services/ipad3.png' %>" style="position: absolute; top: 0; left: 0;" data-animate="fadeInUp" data-delay="300" alt="iPad">
          </div>

        </div>
      </div>

      <div class="container clearfix">

        <div class="heading-block center">
          <h3>Connect With Your Clients Like Never Before.</h3>
          <span>Clients are always worried - where is my money going?.</span>
        </div>

        <p class="divcenter center" style="max-width: 800px;">Keep your customers happy, by always keeping them informed
          without ever leaving your terminal using Git Commit Codes. Plan your projects better using sprint planning.
          Accept payments from clients easily, and keep track of your income. This is the must-use tool for
          <strong>all</strong> Software Development Contractors.</p>

        <div class="col_full center topmargin nobottommargin">

          <a href="#" class="social-icon si-appstore si-large si-rounded si-colored inline-block" title="iOS App Store">
            <i class="icon-appstore"></i>
            <i class="icon-appstore"></i>
          </a>

          <a href="#" class="social-icon si-android si-large si-rounded si-colored inline-block" title="Android Store">
            <i class="icon-android"></i>
            <i class="icon-android"></i>
          </a>

          <a href="#" class="social-icon si-gplus si-large si-rounded si-colored inline-block" title="Windows Store">
            <i class="icon-windows3"></i>
            <i class="icon-windows3"></i>
          </a>

        </div>

        <div class="clear"></div>

        <div class="divider divider-short divider-vshort divider-line divider-center">&nbsp;</div>

        <div class="heading-block center">
          <h3>Subscribe for more <span>Updates</span>.</h3>
        </div>

        <div class="subscribe-widget">
          <div class="widget-subscribe-form-result"></div>
          <form id="widget-subscribe-form2" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
            <div class="input-group input-group-lg divcenter" style="max-width:600px;">
              <span class="input-group-addon"><i class="icon-email2"></i></span>
              <input type="email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
              <span class="input-group-btn">
									<button class="btn btn-default" type="submit">Subscribe Now</button>
								</span>
            </div>
          </form>
        </div>

      </div>

    </div>

  </section><!-- #content end -->

  <footer id="footer" class="dark">

    <% #TODO: Homepage (Unauth) Big Footer %>

    <div id="copyrights">

      <div class="container clearfix">

        <div class="col_half">
          Copyrights &copy; 2018 All Rights Reserved by Blue Helmet Software Company<br>
          <% #TODO: Write privacy policy / get a Terms of Use %>
          <div class="copyright-links"><a href="#">Terms of Use</a>
            <% if false %> / <a href="#">Privacy Policy</a>
            <% end %></div>
        </div>

        <div class="col_half col_last tright">
          <div class="fright clearfix">
            <a href="#" class="social-icon si-small si-borderless si-facebook">
              <i class="icon-facebook"></i>
              <i class="icon-facebook"></i>
            </a>

            <!-- TODO: Build Social Media Presence -->
            <!--<a href="#" class="social-icon si-small si-borderless si-twitter">-->
            <!--<i class="icon-twitter"></i>-->
            <!--<i class="icon-twitter"></i>-->
            <!--</a>-->

            <!--<a href="#" class="social-icon si-small si-borderless si-gplus">-->
            <!--<i class="icon-gplus"></i>-->
            <!--<i class="icon-gplus"></i>-->
            <!--</a>-->

            <!--<a href="#" class="social-icon si-small si-borderless si-pinterest">-->
            <!--<i class="icon-pinterest"></i>-->
            <!--<i class="icon-pinterest"></i>-->
            <!--</a>-->

            <!--<a href="#" class="social-icon si-small si-borderless si-vimeo">-->
            <!--<i class="icon-vimeo"></i>-->
            <!--<i class="icon-vimeo"></i>-->
            <!--</a>-->

            <!--<a href="#" class="social-icon si-small si-borderless si-github">-->
            <!--<i class="icon-github"></i>-->
            <!--<i class="icon-github"></i>-->
            <!--</a>-->

            <!--<a href="#" class="social-icon si-small si-borderless si-yahoo">-->
            <!--<i class="icon-yahoo"></i>-->
            <!--<i class="icon-yahoo"></i>-->
            <!--</a>-->

            <!--<a href="#" class="social-icon si-small si-borderless si-linkedin">-->
            <!--<i class="icon-linkedin"></i>-->
            <!--<i class="icon-linkedin"></i>-->
            <!--</a>-->
          </div>

          <div class="clear"></div>

          <i class="icon-envelope2"></i> jeweler@bluehelmet.software <span class="middot">&middot;</span>
          <i class="icon-headphones"></i> +91-11-6541-6369 <span class="middot">&middot;</span>
          <i class="icon-skype2"></i> CanvasOnSkype
        </div>

      </div>

    </div><!-- #copyrights end -->

  </footer><!-- #footer end -->

</div><!-- #wrapper end -->

<div id="gotoTop" class="icon-angle-up"></div>
