<li id="new_note_item">

  <time class="cbp_tmtime" datetime="2014-12-06T03:45">
    <span>Now</span>
    <span>Today</span>
  </time>

  <div class="cbp_tmicon timeline-bg-success">
    <i class="fas fa-sticky-note"></i>
  </div>
  <div class="cbp_tmlabel">
    <%= render 'notes/note_header', note: note %>
    <%= form_with model: note do |f| %>
      <div class="modal-body" style="padding-bottom:0px; height:125%">
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control' %>
          <%= f.hidden_field :project_id, :value => note.project.id %>
          <%= f.hidden_field :note_type, :value => note.note_type %>
        </div>
      </div>
      <div class="form-group">
        <div class="btn-group">
          <%= f.submit "Post Note", :class => 'btn btn-success' %>
          <a href="#" onclick="$('#new_note_item').remove(); return false;" class="btn btn-primary">Cancel</a>
        </div>
      </div>
    <% end %>
    <%#= render 'notes/note_meta', note: note, current_user: current_user %>
  </div>

</li>
