<% @timeline_modals = true %>
<div class="row">
  <div class="col-xs-12">
    <div class="timeline-centered">

      <% left = true %>

      <% local_note.each do |note| %>

        <% if left == true %>
          <% align_left = 'left-aligned' %>
          <% left = false %>
        <% else %>
          <% left = true %>
          <% align_left = '' %>
        <% end %>

        <article class="timeline-entry <%= align_left %>">

          <div class="timeline-entry-inner">
            <time class="timeline-time"
                  datetime="<%= note.created_at.strftime("%Y-%b-%d %H:%M") %>">
              <!--datetime="2014-12-06T03:45"-->

              <span><%= note.created_at.strftime("%H:%M") %></span>

              <% if note.created_at == Date.today %>
                <span>Today</span>
              <% elsif note.created_at == Date.yesterday %>
                <span>Yesterday</span>
              <% else %>
                <span><%= note.created_at.strftime("%d %b. %Y") %></span>
              <% end %>
            </time>


            <% if note.note_type == 'note' %>
              <div class="timeline-icon timeline-bg-success">
                <i class="fas fa-sticky-note"></i>
              </div>
              <div class="timeline-label">
                <h2><a href="#">
                  <%= note.author.first_name %>
                  <%= note.author.last_name %>
                </a>
                  <span>posted a Note</span>
                </h2>
                <p><%= note.content %></p>
                <small>
                  <%= link_to 'Discussion (' + note.discussions.count.to_s + ')', fetch_discussion_path(note.id), :class => "btn btn-sm btn-success", remote: true %>
                </small>
              </div>
            <% elsif note.note_type == 'demo' %>
              <div class="timeline-icon timeline-bg-red">
                <i class="fa-binoculars"></i>
              </div>
              <div class="timeline-label">
                <h2><a href="#">
                  <%= note.author.first_name %>
                  <%= note.author.last_name %>
                </a>
                  <span>posted a Demo</span>
                </h2>
                <img src="<%= note.image.url %>" class="img-responsive img-rounded full-width"><br>
                <small>
                  <%= link_to 'Discussion (' + note.discussions.count.to_s + ')', fetch_discussion_path(note.id), :class => "btn btn-sm btn-success", remote: true %>
                </small>
              </div>
            <% elsif note.note_type == 'project_update' %>
              <div class="timeline-icon timeline-bg-warning">
                <i class="fas fa-sticky-note"></i>
              </div>
              <div class="timeline-label">
                <h2><a href="#">
                  <%= note.author.first_name %>
                  <%= note.author.last_name %>
                </a>
                  <span>posted a Project Update</span>
                </h2>
                <p><%= note.content %></p>
                <small>
                  <%= link_to 'Discussion (' + note.discussions.count.to_s + ')', fetch_discussion_path(note.id), :class => "btn btn-sm btn-success", remote: true %>
                </small>
              </div>
            <% elsif note.note_type == 'commit' %>
              <div class="timeline-icon timeline-bg-warning">
                <i class="fas fa-code-branch"></i>
              </div>
              <div class="timeline-label">
                <h2><a href="#">
                  <%= note.author.first_name %>
                  <%= note.author.last_name %>
                </a>
                  <span>Committed Code</span>
                </h2>
                <p><%= note.content.html_safe %></p>
                <small>
                  <%= link_to 'Discussion (' + note.discussions.count.to_s + ')', fetch_discussion_path(note.id), :class => "btn btn-sm btn-success", remote: true %>
                </small>
              </div>
              <% else %>
                <div class="timeline-icon timeline-bg-success">
                  <i class="fas fa-sticky-note"></i>
                </div>
                <div class="timeline-label">
                  <h2><a href="#">
                    <%= note.author.first_name %>
                    <%= note.author.last_name %>
                  </a>
                    <span>posted a Note</span>
                  </h2>
                  <p><%= note.content %></p>
                  <small>
                    <%= link_to 'Discussion (' + note.discussions.count.to_s + ')', fetch_discussion_path(note.id), :class => "btn btn-sm btn-success", remote: true %>
                  </small>
                </div>
            <% end %>
          </div>

        </article>

      <% end %>

      <article class="timeline-entry begin">
        <div class="timeline-entry-inner">

          <div class="timeline-icon">
            <i class="fa-briefcase"></i>
          </div>

        </div>
      </article>

    </div>
  </div>
</div>