<div class="timeline_title">
  <div class="pull-right">
    <% unless note.invoice.nil? %>
      <span id="timeline_sprint_task_message" class="alert alert-success">
        Sprint <%= note.invoice.sprint.to_s %>
      </span>
      <% unless note.invoice_item.nil? %>
          <span id="timeline_sprint_task_message" class="alert alert-success">
            #task<%= note.invoice.sprint.to_s + note.invoice_item.get_letter %>
          </span>
      <% end %>
    <% end %>
  </div>
  <h2>
    <%= note.author.first_name %> <%= note.author.last_name %>
    <%= ApplicationHelper.note_event_action(note) %>
  </h2>
</div>