<div>
  <small>
    <div class="margin-10">
      <%= render 'discussions/conversation', discussions: note.discussions, user: current_user, note: note %>
    </div>

    <div class="btn-group">
      <% if note.user_id == current_user.id or note.project.is_owner?(current_user) %>
        <% if (note.note_type != 'commit' and note.note_type != 'project_update' and note.note_type != 'payment' and note.note_type != 'payment_request' and note.note_type != 'event') or current_user.is_god? %>
          <%# Debugging Helper: if note.note_type != 'commit' %>
          <%= link_to '<i style="padding-right: 1px; margin-right:0px" class="far fa-edit"></i>'.html_safe,
                      edit_note_path(note.id), remote: true, class: 'btn btn-sm btn-success' %>
          <%= link_to '<i style="padding-right: 4px;" class="fas fa-trash-alt"></i>'.html_safe,
                      delete_note_inline_path(note.id), remote: true, class: 'btn btn-sm btn-success' %>
          <% unless note.commit_diff_path.nil? %>
            <%= link_to '<i style="padding-right: 4px;" class="fab fa-github"></i>'.html_safe,
                        note.commit_diff_path, class: 'btn btn-sm btn-success' %>
          <% end %>
        <% end %>
      <% end %>
      <div id="click_discussion_button_<%= note.id.to_s %>" class="btn btn-sm btn-success" href="#" onclick="click_discussion_<%= note.id.to_s %>()">Comment</div>
    </div>
  </small>
</div>