<p id="notice"><%= notice %></p>

<h1>Notes</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Note type</th>
      <th>Content</th>
      <th>Git commit</th>
      <th>Project</th>
      <th>Discussion</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.content %></td>
        <td><%= note.note_type %></td>
        <td><%= note.content %></td>
        <td><%= note.git_commit_id %></td>
        <td><%= note.project %></td>
        <td><%= note.discussion %></td>
        <td><%= note.author %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %>
