<div id="note_form_<%= note.id.to_s %>" style="display:none" class="row">
  <%= form_with url: create_discussion_message_path, class: 'form-inline margin-bottom-5 margin-left-10 margin-top-20' do |f| %>
    <%= f.text_field :content, class: 'col-sm-12 col-md-4 margin-left-20' %>
    <%= f.submit 'Comment', :class => 'btn-sm btn-success', style: 'height:26px; bottom: 10px' %>
    <%= f.hidden_field :note_id, :value => note.id %>
  <% end %>
</div>
<script>
    function click_discussion_<%= note.id.to_s %>() {
        $('#note_form_<%= note.id.to_s %>').show('slide');
        $('#click_discussion_button_<%= note.id.to_s %>').hide('slide');
        return false;
    }
</script>