<%= form_with url: make_payment_path, class: 'form-horizontal' do |f| %>

  <% unless display_balances.nil? or display_balances == false %>
    <div class="settings_balance_label">
      <div class="row">
        <div class="col-xs-12">
          <div class="label label-success">
            Total Project Balance: $<%= (project.total_cost - project.total_payment).to_s %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="label label-success">
            <% current_sprint = project.current_sprint %>
            Current Sprint (<%= current_sprint.sprint.to_s %>) Balance: $<%= current_sprint.balance.to_s %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row text-center">
    <h4>Make Payment</h4>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-field" style="color: black">
        <%= f.select(:invoice_id, project.invoices.order('sprint::integer DESC').collect {|invoice| ['Sprint ' + invoice.sprint.to_s, invoice.id]}, {}, {:class => 'form-control payment_form_item', :style => 'color:black'}) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-field">
        <%= f.text_field :amount, :value => 'Payment Amount', class: 'form-control payment_form_item' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-field">
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :project_id, :value => project.id %>
        <br>
        <%= f.submit 'Pay', :class => 'btn-sm btn-success form-control payment_form_item' %>
      </div>
    </div>
  </div>
<% end %>
