<% Rails.logger.debug("Invoice Form: " + invoice.inspect.to_s) %>
<%= form_for invoice, url: review_customer_invoice_path, remote: true, class: 'form-horizontal' do |i| %>
  <%= i.hidden_field :estimate %>
  <%= i.hidden_field :sprint_id, value: invoice.sprint.id %>
  <div class='row'>
    <div class='col-xs-12 col-sm-4'>
      <div class='form-field' style='color: black'>
        <%= i.collection_select :user,
                                invoice.sprint.project.customers,
                                :id,
                                :full_name,
                                {prompt: 'Select a Customer'},
                                {class: 'form-control',
                                 style: 'color:black'} %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-1">
      <h4>Or</h4>
    </div>
    <div class='col-xs-12 col-sm-4'>
      <div class='input-group'>
        <span class="input-group-addon"><i class="fa-envelope-o"></i></span>
        <%= i.text_field :customer_email, value: 'Customer Email', class: 'form-control payment_form_item' %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <%= i.submit 'Generate', :class => 'btn-sm btn-success form-control' %><br>
    </div>
  </div>
  <hr class="invoince-review-split">
  <div class="row">
    <div class='col-xs-12 col-sm-4'>
      <div class='input-group'>
        <span class="input-group-addon"><i class="fas fa-pencil-alt"></i></span>
        <%= i.text_field :invoice_note, value: '(Optional) Invoice Note', class: 'form-control' %>
      </div>
    </div>
    <% if invoice.sprint.payment_due %>
      <div class='col-xs-12 col-sm-4'>
        <div class='input-group'>
          <span class="input-group-addon"><i class="fa-money"></i></span>
          <%= i.text_field :request_amount, value: '(Optional) Request Amount', class: 'form-control' %>
        </div>
      </div>
    <% end %>
    <div class='col-xs-12 col-sm-2'>
      <% if invoice.sprint.payment_due %>
        <span class="label label-default not-bold one-em">Sprint <%= invoice.sprint.sprint %> Payment Requested</span>
      <% else %>
        <%= link_to 'Request Payment',
                    request_payment_path(invoice.sprint.id),
                    class: 'btn btn-sm btn-primary payment-request-btn',
                    remote: true %>
      <% end %>
    </div>
    <div class='col-xs-12 col-sm-2'>
      <% unless invoice.sprint.payments.empty? %>
        <div class='input-group'>
          <%= i.label :display_payments, 'Display Payments?' %>
          <%= i.check_box :display_payments, 'Display Payments?', class: 'form-control payment_form_item' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>