<div class="panel panel-default">
  <% if invoice.sprint_complete? %>
    <div class="alert alert-success">Sprint Complete<i class="fas fa-check fa-1x pull-right"></i></div>
  <% end %>
  <div class="panel-heading">
    <h4 class="panel-title">
      Sprint <%= invoice.sprint.to_s %>
      <span id="invoice_<%= invoice.sprint.to_s %>_description" class="description">
        <% if invoice.description.nil? and invoice.project.is_owner?(current_user) %>
          <%= link_to 'Add Description', edit_invoice_description_path(invoice.id), remote: true %>
        <% else %>
          - <%= invoice.description %>
          <% if invoice.project.is_owner?(current_user) %>
              <%= link_to '(Edit)', edit_invoice_description_path(invoice.id), remote: true %>
            <% end %>
        <% end %>
        </span>
    </h4>
    <div class="panel-options">
      <div class="btn-group">
        <% if invoice.project.sprint_current == invoice.sprint %>
          <a href="#" disabled class="btn btn-sm btn-success"><i class="fas fa-paper-plane"></i> Current Sprint</a>
        <% else %>
          <% if invoice.project.is_owner?(current_user) and invoice.open? %>
            <%= link_to 'Set Current Sprint',
                        set_current_sprint_path(invoice.id),
                        class: 'btn btn-sm btn-success',
                        remote: true,
                        data: {confirm: 'Are you sure you want to change current sprint to ' + invoice.sprint.to_s + '?'} %>
          <% end %>
          <% if invoice.open? %>
            <% if invoice.project.is_owner?(current_user) %>
              <%= link_to 'Sprint Open',
                          close_sprint_path(invoice.id),
                          class: 'btn btn-sm btn-success sprint-open-btn',
                          remote: true,
                          data: {confirm: 'Are you sure you want to close sprint ' + invoice.sprint.to_s + '?'} %>
            <% else %>
              <a href="#" disabled class="btn btn-sm btn-sucess">Sprint Open</a>
            <% end %>
          <% else %>
            <% if invoice.project.is_owner?(current_user) %>
              <%= link_to 'Sprint Closed',
                          open_sprint_path(invoice.id),
                          class: 'btn btn-sm btn-danger sprint-close-btn',
                          remote: true,
                          data: {confirm: 'Are you sure you want to open sprint ' + invoice.sprint.to_s + '?'} %>
            <% else %>
              <a href="#" disabled class="btn btn-sm btn-danger">Sprint Closed</a>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="btn-group">

        <% if invoice.project.is_owner?(current_user) %>
          <% if invoice.only_planned? %>
            <%= link_to 'Generate Estimate', generate_invoice_path(invoice.id, 'true'), class: 'btn btn-sm btn-success', remote: true %>
          <% else %>
            <%= link_to 'Generate Invoice', generate_invoice_path(invoice.id, 'false'), class: 'btn btn-sm btn-success', remote: true %>
          <% end %>
        <% end %>

        <% if invoice.project.is_owner?(current_user) %>
          <% if invoice.payment_due? %>
            <%= link_to 'Payment Requested'.html_safe,
                        cancel_request_payment_path(invoice.id),
                        class: 'btn btn-sm btn-warning payment-requested-btn',
                        remote: true %>
          <% else %>
            <%= link_to 'Request Pay'.html_safe,
                        request_payment_path(invoice.id),
                        class: 'btn btn-sm btn-success payment-request-btn',
                        remote: true %>
          <% end %>
        <% end %>
      </div>

      <% if invoice.project.is_owner?(current_user) %>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-gray dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="fa-wrench"></i> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-left dropdown-white" role="menu">
            <li>
              <a href="#" onclick="$('#invoice_bar_graph').toggle('slide'); return false">Toggle Cost Chart</a>
            </li>
            <% unless invoice.is_current? %>
              <li>
                <%= link_to 'Set Current Sprint', set_current_sprint_path(invoice.id), remote: true %>
              </li>
              <li>
                <% if invoice.open? %>
                  <%= link_to 'Close Sprint', close_sprint_path(invoice.id), remote: true, data: {confirm: 'Are you sure you want to close sprint ' + invoice.sprint.to_s + '?'} %>
                <% else %>
                  <%= link_to 'Open Sprint', open_sprint_path(invoice.id), remote: true, data: {confirm: 'Are you sure you want to open sprint ' + invoice.sprint.to_s + '?'} %>
                <% end %>
              </li>
            <% end %>
            <li><%= link_to 'Generate Estimate', generate_invoice_path(invoice.id, 'true'), remote: true %></li>
            <% unless invoice.only_planned? %>
              <li><%= link_to 'Generate Invoice', generate_invoice_path(invoice.id, 'false'), remote: true %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <div class="panel-body">

    <!-- TODO: Alternate Invoice-Panel for Mobile (visible-xs visible-sm) -->
    <% if false %>
      <div style="display:none" class="text-center">
        <%#= render 'invoices/mobile_invoice_items', invoice: invoice, hour_total: hour_total, price_total: price_total %>
      </div>
    <% end %>

    <div class="table-responsive" data-pattern="priority-columns">
      <table class="table table-striped">
        <thead>
        <tr>
          <th data-priority="1"></th>
          <th data-priority="1">Task</th>
          <th data-priority="2">Rate</th>
          <th data-priority="3">Estimate</th>
          <% if invoice.only_planned? %>
            <th data-priority="3">Projected Cost</th>
          <% else %>
            <th data-priority="2">Hours</th>
            <th data-priority="2">Cost</th>
          <% end %>

        </tr>
        </thead>
        <% if invoice.project.current_task == invoice.id %>
          <% current_sprint_string = 'current_sprint task_list' %>
        <% end %>

        <tbody class="<%= current_sprint_string %>">

        <% invoice.tasks.each do |task| %>
          <tr id="task_row_<%= task.id.to_s %>" onclick="open_task_action(<%= task.id.to_s %>)">
            <td width="10">
              <% if invoice.project.current_task == task %>
                <span class="label label-default">Current Task</span>
              <% elsif task.complete %>
                <i class="fas fa-check fa-1x"></i>
              <% end %>
            </td>
            <td>
              <%= render 'invoice_items/task_actions', task: task, user: current_user %>
              <span class="alert alert-success task-id">
              #task<%= task.invoice.sprint.to_s %><%= task.get_letter %>
            </span>
              <%= task.description %>
            </td>
            <td>$<%= task.rate.to_f.prettify %>/hr</td>
            <td><%= task.planned_hours.prettify %> hrs.</td>
            <% if invoice.only_planned? %>
              <td><%= task.planned_cost.money %></td>
            <% else %>
              <td><%= task.hours.prettify %> hrs.</td>
              <td><%= task.total_cost.money %></td>
            <% end %>

          </tr>
        <% end %>

        <tr>
          <th></th>
          <th id="create_task_container_invoice_<%= invoice.id.to_s %>">
            <% if invoice.project.is_owner?(current_user) %>
              <%= link_to 'Create Task',
                          new_project_invoice_invoice_item_path(invoice.project.id, invoice.id),
                          remote: true,
                          id: 'create_task_inline_button',
                          class: 'btn btn-sm btn-primary',
                          style: 'display:inline;font-size:1em; padding-right:10px;' %>
            <% end %>
          </th>
          <th><strong>Total:</strong></th>
          <th><%= invoice.planned_hours.prettify %> hrs.</th>
          <% if invoice.only_planned? %>
            <td><%= invoice.planned_cost.money %></td>
          <% else %>
            <td><%= invoice.hours.prettify %> hrs.</td>
            <td><%= invoice.cost.money %></td>
          <% end %>
        </tr>
        </tbody>
      </table>
    </div>
    <div style="display:none" id="edit_invoice_items_<%= invoice.id.to_s %>_hidden_row" class="col-xs-12"></div>
    <div style="display:none" id="invoice_items_<%= invoice.id.to_s %>_hidden_row" class="col-xs-12"></div>


    <% unless invoice.payments.empty? %>
      <table class="hidden-xs table table-condensed">
        <tbody>
        <% invoice.payments.each do |payment| %>
          <tr>
            <td><%= payment.amount %></td>
            <td><%= payment.payment_type %></td>
            <td><%= payment.user.full_name %></td>
            <td><%= payment.created_at.strftime("%d %b. %Y") %> </td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <td><strong>Payment Total:</strong></td>
          <td><%= invoice.sprint_payments.money %></td>
        </tr>
        </tbody>
      </table>

      <div class="visible-xs text-center">
        <% invoice.payments.each do |payment| %>
          <p>
            <% unless payment.user.first_name.nil? or payment.user.last_name.nil? %>
              <%= payment.user.full_name %> Paid
            <% end %>

            <%= payment.amount.money %>

            <% unless payment.payment_type.nil? %>
              <%= payment.payment_type %>
            <% end %>

            <%= payment.created_at.strftime("%d %b. %Y") %>
          </p>
        <% end %>
        <hr>
        <strong>Total: </strong><%= invoice.sprint_payments.money %>
      </div>
    <% end %>

    <% if invoice.project.is_customer?(current_user) %>
      <div>
        <div style="display:none" id="sprint_payment_inline_<%= invoice.id.to_s %>">
          <%= render 'invoices/sprint_payment_form', invoice: invoice %>
        </div>
        <%= link_to 'Make Sprint ' + invoice.sprint.to_s + ' Payment', open_sprint_payment_path(invoice.id), class: 'btn btn-primary btn-sm', remote: true %>
      </div>
    <% end %>

    <div class="invoice-totals pull-right well well-sm">
      <span>
        <strong>Sprint <%= invoice.sprint.to_s %></strong>
      </span>
      <% if invoice.only_planned? %>
        <span>
          <strong>No Hours Reported</strong>
        </span>
      <% end %>

      <% if invoice.payments.empty? %>
        <span><strong>No Payments Made</strong></span>
      <% else %>
        <% if invoice.balance > 0 %>
        <span class="color-green">
          <strong>Customer Balance:</strong> +<%= invoice.balance.money %>
        </span>
        <% elsif invoice.balance == 0 %>
        <span class="color-green">
         <strong>Customer Balance:</strong> <%= invoice.balance.money %>
        </span>
        <% elsif invoice.balance < 0 %>
        <span class="color-red">
         <strong>Customer Balance:</strong> <%= invoice.balance.money %>
        </span>
        <% end %>
      <% end %>
      <span>
        <strong>Projected Cost:</strong> <%= invoice.planned_cost.money %>
      </span>
      <% unless invoice.only_planned? %>
        <span>
          <strong>Cost:</strong> <%= invoice.cost.money %>
        </span>
      <% end %>
    </div>
  </div>
</div>