<%
  if @project.sprint_current == invoice.sprint
    if invoice.open == false
      invoice.open = true
      invoice.save
    end
  end

  payment_total = 0
  invoice.payments.each do |payment|
    payment_total = payment_total + payment.amount
  end
%>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h4>
        Sprint <%= sprint %>
      </h4>
      <div>
        <% if invoice.open? %>
          <% if @project.sprint_current == invoice.sprint %>
            <div class="label label-success">Current Sprint</div>
          <% else %>
            <div class="label label-success">Sprint Open</div>
          <% end %>
        <% else %>
          <div class="label label-danger">Sprint Closed</div>
        <% end %>
        <% if payment_total != 0 %>
          <div class="label label-success"><strong>Payment: </strong> $<%= payment_total %></div>
        <% end %>
        <div class="label label-info"><Strong>Cost: </Strong> $<%= invoice.sprint_cost %></div>
        <div class="label label-default"><Strong>Projected: </Strong> <%= invoice.sprint_planned_hours %> hrs.</div>
        <div class="label label-default"><Strong>Completed: </Strong> <%= invoice.sprint_hours %> hrs.</div>
      </div>
    </div>
    <div class="panel-options">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#sprint_<%= sprint %>_tab-1" data-toggle="tab" aria-expanded="false">Overview</a>
        </li>
        <li class="">
          <a href="#sprint_<%= sprint %>_tab-2" data-toggle="tab" aria-expanded="false">Commits</a>
        </li>
        <% if @project.is_owner(current_user) %>
          <div class="btn-group">
            <button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <i class="fa-wrench"></i> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-white" role="menu">
              <li>
                <a href="#">Action</a>
              </li>
              <li>
                <a href="#">Another action</a>
              </li>
              <li>
                <a href="#">Something else here</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">Separated link</a>
              </li>
            </ul>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="panel-body">

    <div class="tab-content">

      <div class="tab-pane active" id="sprint_<%= sprint %>_tab-1">
        <strong>Description: </strong> <%= invoice.description %><br>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Task</th>
              <th>Rate</th>
              <th>Estimated Hours</th>
              <% unless invoice.only_planned? %>
                <td>Hours</td>
                <td>Cost</td>
              <% else %>
                <td>Projected Cost</td>
              <% end %>
            </tr>
          </thead>
          <tbody>
          <% invoice.invoice_items.each do |task| %>
            <tr>
              <td><%= task.description %></td>
              <td>$<%= task.rate %>/hr</td>
              <td><%= task.planned_hours %></td>
              <% unless invoice.only_planned? %>
                <td><%= task.hours %></td>
                <td>$<%= task.total_cost %></td>
              <% else %>
                <td><%= task.planned_cost %></td>
              <% end %>
            </tr>
          <% end %>
          <tr>
            <th></th>
            <th><strong>Total:</strong></th>
            <th><%= invoice.sprint_planned_hours %> hrs.</th>
            <% unless invoice.only_planned? %>
              <th><%= invoice.sprint_hours %> hrs.</th>
              <th>$<%= invoice.sprint_cost %></th>
          <% else %>
              <th>$<%= invoice.sprint_planned_cost %></th>
          <% end %>
          </tr>
          </tbody>
        </table>
      </div>

      <% if invoice.payments.count != 0 %>
        <table class="table table-condensed">
          <tbody>
          <% invoice.payments.each do |payment| %>
            <tr>
              <td><%= payment.amount %></td>
              <td><%= payment.payment_type %></td>
              <td><%= payment.user.first_name %> <%= payment.user.last_name %></td>
              <td><%= payment.created_at.strftime("%d %b. %Y") %> </td>
            </tr>
          <% end %>
          <tr>
            <td></td>
            <td></td>
            <td><strong>Payment Total:</strong></td>
            <td><%= payment_total %></td>
          </tr>
          </tbody>
        </table>
      <% end %>

      <div class="tab-pane" id="sprint_<%= sprint %>_tab-2">
      </div>

      <% if @project.is_owner(current_user) %>
        <div class="tab-pane" id="sprint_<%= sprint %>_tab-3">
        </div>
      <% end %>

    </div>
  </div>
</div>