<%
  if invoice.project.sprint_current == invoice.sprint
    if invoice.open == false
      invoice.open = true
      invoice.save
    end
  end

%>
<div class="panel panel-default">
  <% if invoice.sprint_complete? %>
    <div class="alert alert-success">Sprint Complete<i class="fas fa-fire pull-right"></i></div>
  <% end %>
  <div class="panel-heading">
    <h4 class="panel-title">
      Sprint <%= invoice.sprint.to_s %>
    </h4>
    <div style="color:white !important;font-size: 18px;" class="panel-options">
      <% if invoice.project.sprint_current == invoice.sprint %>
        <div class="label label-success"><i class="fas fa-fighter-jet"></i> Current Sprint</div>
      <% else %>
        <% if invoice.project.is_owner?(current_user) %>
          <div class="label label-success">
            <%= link_to 'Set Current Sprint',
                        set_current_sprint_path(invoice.id), remote: true,
                        class: '', style: 'display:inline;font-size:1em; padding:5px; padding-right:5px;' %>
          </div>
        <% end %>

        <% if invoice.open? %>
          <div class="label label-success">
            <% if invoice.project.is_owner?(current_user) %>
              <%= link_to 'Sprint Open', close_sprint_path(invoice.id), remote: true, data: {confirm: 'Are you sure you want to close sprint ' + invoice.sprint.to_s + '?'} %>
            <% else %>
              Sprint Open
            <% end %>
          </div>
        <% else %>
          <div class="label label-danger">
            <% if invoice.project.is_owner?(current_user) %>
              <%= link_to 'Sprint Closed', open_sprint_path(invoice.id), remote: true, data: {confirm: 'Are you sure you want to open sprint ' + invoice.sprint.to_s + '?'} %>
            <% else %>
              Sprint Closed
            <% end %>
          </div>
        <% end %>

      <% end %>

      <% if invoice.project.is_owner?(current_user) %>
        <% unless invoice.payment_due? %>
          <div style="display:none;margin-right:10px" id="request_payment_2_sprint_<%= invoice.sprint.to_s %>" class="label label-warning">
            Payment Requested
          </div>
          <div style="display:inline" id="request_payment_button_2_sprint_<%= invoice.sprint.to_s %>">
            <%= link_to '<div class="label label-success">Request Payment</div>'.html_safe,
                        request_payment_path(invoice.id),
                        remote: true %>
          </div>
        <% else %>
          <div style="display:none;margin-right:10px" id="request_payment_cancelled_sprint_<%= invoice.sprint.to_s %>" class="label label-warning">
            Payment Request Cancelled
          </div>
          <div style="display:inline" id="request_payment_cancel_button_sprint_<%= invoice.sprint.to_s %>">
            <%= link_to '<div class="label label-warning">Payment Requested <small>(Cancel)</small></div>'.html_safe,
                        cancel_request_payment_path(invoice.id),
                        remote: true %>
          </div>
        <% end %>
      <% end %>

      <div class="label label-success">Projected Cost: $<%= invoice.sprint_planned_cost %></div>
      <div class="label label-default">Estimate: <%= invoice.sprint_planned_hours %> hrs</div>
      <% unless invoice.only_planned? %>
        <div class="label label-default">Reported: <%= invoice.sprint_hours %> hrs</div>
        <div class="label label-info">Cost: $<%= invoice.sprint_cost %></div>
      <% end %>

    </div>
  </div>
  <div class="panel-body">

    <!-- visible-xs visible-sm -->
    <div style="display:none" class="text-center">
      <%#= render 'invoices/mobile_invoice_items', invoice: invoice, hour_total: hour_total, price_total: price_total %>
    </div>

    <!--hidden-xs hidden-sm -->
    <table class="table table-striped">
      <thead>
      <tr>
        <th width="10"><i class="far fa-check-square"></i></th>
        <th>Task</th>
        <th>Rate</th>
        <th>Estimate</th>
        <% if invoice.only_planned? %>
          <th>Projected Cost</th>
        <% else %>
          <th>Hours</th>
          <th>Cost</th>
        <% end %>

      </tr>
      </thead>

      <tbody
      <% if invoice.project.current_task == invoice.id %>
      class="current_sprint task_list">
      <% else %>
      >
      <% end %>

      <% invoice.invoice_items.sort_by(&:created_at).each do |task| %>
      <tr id="task_row_<%= task.id.to_s %>" onclick="$('#task_<%= task.id.to_s %>').toggle('slide'); return false;">
        <td width="10">
          <% if invoice.project.current_task == task %>
            <span class="label label-default">Current Task</span>
          <% elsif task.complete %>
            <i class="far fa-check-square"></i>
          <% end %>
        </td>
        <td>
          <%= render 'invoice_items/task_actions', task: task, user: current_user %>
          <%= task.description %>
        </td>
        <td>$<%= task.rate %>/hr</td>
        <td><%= task.planned_hours %> hrs.</td>
        <% if invoice.only_planned? %>
          <td>$<%= task.planned_cost %></td>
        <% else %>
          <td><%= task.hours %> hrs.</td>
          <td>$<%= task.total_cost %></td>
        <% end %>

      </tr>
      <% end %>

      <tr>
        <th></th>
        <th id="create_task_container_invoice_<%= invoice.id.to_s %>">
          <% if invoice.project.is_owner?(current_user) %>
            <%= link_to 'Create Task',
                        create_task_inline_path(invoice.id),
                        remote: true,
                        id: 'create_task_inline_button',
                        class: 'btn btn-sm btn-primary',
                        style: 'display:inline;font-size:1em; padding-right:10px;' %>
          <% end %>
        </th>
        <th><strong>Total:</strong></th>
        <th><%= invoice.sprint_planned_hours %> hrs.</th>
        <% if invoice.only_planned? %>
          <td>$<%= invoice.sprint_planned_cost %></td>
        <% else %>
          <td><%= invoice.sprint_hours %> hrs.</td>
          <td>$<%= invoice.sprint_cost %></td>
        <% end %>
      </tr>
      </tbody>
    </table>
    <div style="display:none" id="invoice_items_<%= invoice.id.to_s %>_hidden_row"></div>

    <% unless invoice.payments.empty? %>
      <table class="hidden-xs table table-condensed">
        <tbody>
        <% invoice.payments.each do |payment| %>
          <tr>
            <td><%= payment.amount %></td>
            <td><%= payment.payment_type %></td>
            <td><%= payment.user.first_name %> <%= payment.user.last_name %></td>
            <td><%= payment.created_at.strftime("%d %b. %Y") %> </td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <td><strong>Payment Total:</strong></td>
          <td><%= invoice.sprint_payments %></td>
        </tr>
        </tbody>
      </table>

      <div class="visible-xs text-center">
        <% invoice.payments.each do |payment| %>
          <p>
            <% unless payment.user.first_name.nil? or payment.user.last_name.nil? %>
              <%= payment.user.first_name %> <%= payment.user.last_name %> Paid
            <% end %>

            <%= payment.amount %>

            <% unless payment.payment_type.nil? %>
              <%= payment.payment_type %>
            <% end %>

            <%= payment.created_at.strftime("%d %b. %Y") %>
          </p>
        <% end %>
        <hr>
        <strong>Total: </strong>$<%= invoice.sprint_payments %>
      </div>
    <% end %>

    <% if invoice.project.is_customer(current_user) %>
      <div>
        <%= link_to 'Make Payment', open_sprint_payment_path(invoice.id), class: 'btn btn-primary btn-sm', remote: true %>
      </div>
    <% end %>

    <% if invoice.sprint_cost > invoice.sprint_payments %>
      <div style="font-size:1.3em" class="pull-right">
        <div class="label label-danger">Balance: $<%= invoice.sprint_cost - invoice.sprint_payments %></div>
      </div>
    <% end %>
  </div>
</div>