<%

  if @project.phase_current == invoice.sprint
    if invoice.open == false
      invoice.open = true
      invoice.save
    end
  end

  # Totals
  hour_total = 0
  price_total = 0
  invoice.invoice_items.each do |task|
    hour_total = hour_total + task.hours
    price_total = price_total + (task.hours * task.rate)
  end

  payment_total = 0
  invoice.payments.each do |payment|
    payment_total = payment_total + payment.amount
  end
%>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      Sprint <%= sprint %>
    </h4>
    <div style="color:white !important;font-size: 18px;" class="panel-options">
      <% if invoice.open? %>
        <% if @project.phase_current == invoice.sprint %>
          <div class="label label-success">Current Sprint</div>
        <% else %>
          <div class="label label-success">Sprint Open</div>
        <% end %>
      <% else %>
        <div class="label label-danger">Sprint Closed</div>
      <% end %>
      <div class="label label-success">Payment: $<%= payment_total %></div>
      <div class="label label-info">Cost: $<%= price_total %></div>
      <div class="label label-default">Hours: <%= invoice.sprint_hours %> hrs</div>
      <div class="label label-default">Projected: <%= invoice.sprint_planned_hours %> hrs</div>

    </div>
  </div>
  <div class="panel-body">
    <h5><strong>Summary: </strong><%= invoice.description %></h5>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Task</th>
        <th>Rate</th>
        <th>Hours</th>
        <th>Cost</th>
      </tr>
      </thead>
      <tbody>
      <% invoice.invoice_items.each do |task| %>
        <tr>
          <td><%= task.description %></td>
          <td>$<%= task.rate %>/hr</td>
          <td><%= task.hours %></td>
          <td>$<%= task.rate * task.hours %></td>
        </tr>
      <% end %>
      <tr>
        <th></th>
        <th><strong>Total:</strong></th>
        <th><%= hour_total %> hrs.</th>
        <th>$<%= price_total %></th>
      </tr>
      </tbody>
    </table>

    <table class="table table-condensed">
      <tbody>
      <% invoice.payments.each do |payment| %>
        <tr>
          <td><%= payment.amount %></td>
          <td><%= payment.payment_type %></td>
          <td><%= payment.user.first_name %> <%= payment.user.last_name %></td>
          <td><%= payment.created_at.strftime("%d %b. %Y") %> </td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td><strong>Payment Total:</strong></td>
        <td><%= payment_total %></td>
      </tr>
      </tbody>
    </table>
    <% if invoice.sprint_cost > invoice.sprint_payments %>
      <div class="label label-danger">Balance: $<%= invoice.sprint_cost - invoice.sprint_payments %></div>
    <% end %>
  </div>
</div>