<%

  if @project.sprint_current == invoice.sprint
    if invoice.open == false
      invoice.open = true
      invoice.save
    end
  end

  # Totals
  hour_total = 0
  price_total = 0
  invoice.invoice_items.each do |task|
    hour_total = hour_total + task.hours
    price_total = price_total + (task.hours * task.rate)
  end

  payment_total = 0
  invoice.payments.each do |payment|
    payment_total = payment_total + payment.amount
  end
%>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      Sprint <%= sprint %>
    </h4>
    <div style="color:white !important;font-size: 18px;" class="panel-options">
      <% if invoice.open? %>
        <% if @project.sprint_current == invoice.sprint %>
          <div class="label label-success">Current Sprint</div>
        <% else %>
          <div class="label label-success">Sprint Open</div>
        <% end %>
      <% else %>
        <div class="label label-danger">Sprint Closed</div>
      <% end %>

      <% if !invoice.payment_due? %>
        <div style="display:none;margin-right:10px" id="request_payment_2_sprint_<%= invoice.sprint.to_s %>" class="label label-warning">
          Payment Requested
        </div>
        <div style="display:inline" id="request_payment_button_2_sprint_<%= invoice.sprint.to_s %>">
          <%= link_to '<div class="label label-success">Request Payment</div>'.html_safe,
                      request_payment_path(invoice.id),
                      remote: true %>
        </div>
      <% else %>
        <div style="display:none;margin-right:10px" id="request_payment_cancelled_sprint_<%= invoice.sprint.to_s %>" class="label label-warning">
          Payment Request Cancelled
        </div>
        <div style="display:inline" id="request_payment_cancel_button_sprint_<%= invoice.sprint.to_s %>">
          <%= link_to '<div class="label label-warning">Payment Requested <small>(Cancel)</small></div>'.html_safe,
                      cancel_request_payment_path(invoice.id),
                      remote: true %>
        </div>
      <% end %>

      <div class="label label-success">Payment: $<%= payment_total %></div>
      <div class="label label-info">Cost: $<%= price_total %></div>
      <div class="label label-default">Hours: <%= invoice.sprint_hours %> hrs</div>
      <div class="label label-default">Projected: <%= invoice.sprint_planned_hours %> hrs</div>

    </div>
  </div>
  <div class="panel-body">
    <h5><strong>Summary: </strong><%= invoice.description %></h5>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Task</th>
        <th>Rate</th>
        <th>Hours</th>
        <th>Cost</th>
      </tr>
      </thead>

      <tbody class="task_list"
             <% if @project.current_task == invoice.id %>
             id="current_sprint">
      <% else %>
      >
      <% end %>

      <% invoice.invoice_items.each do |task| %>
      <tr onmouseover="document.getElementById('task_<%= task.id.to_s %>').style.display = 'inline';" onmouseout="document.getElementById('task_<%= task.id.to_s %>').style.display = 'none';">
        <td>
          <% if @project.current_task == task %>
            <span style="font-size:1.2em; padding-right:25px;"><span class="label label-info">Current Task</span></span>
          <% else
               @project.current_task.nil? %>
              <span id="task_<%= task.id.to_s %>" style="display:none">
                <%= link_to 'Set Current Tasks',
                            set_current_task_path(@project.id, task.id), remote: true,
                            class: 'btn btn-sm btn-success', style: 'display:inline;font-size:.8em; padding-right:25px;' %>
              </span>

          <% end %>
          <%= task.description %>
        </td>
        <td>$<%= task.rate %>/hr</td>
        <td><%= task.hours %></td>
        <td>$<%= task.rate * task.hours %></td>
      </tr>
      <% end %>
      <div id="invoice_items_<%= invoice.id.to_s %>"></div>
      <tr>
        <th>
          <%= link_to 'Create Task',
                      create_task_inline_path(invoice.id), remote: true,
                      class: 'btn btn-sm btn-success', style: 'display:inline;font-size:.8em; padding-right:25px;' %>
        </th>
        <th><strong>Total:</strong></th>
        <th><%= hour_total %> hrs.</th>
        <th>$<%= price_total %></th>
      </tr>
      </tbody>
    </table>

    <table class="table table-condensed">
      <tbody>
      <% invoice.payments.each do |payment| %>
        <tr>
          <td><%= payment.amount %></td>
          <td><%= payment.payment_type %></td>
          <td><%= payment.user.first_name %> <%= payment.user.last_name %></td>
          <td><%= payment.created_at.strftime("%d %b. %Y") %> </td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td><strong>Payment Total:</strong></td>
        <td><%= payment_total %></td>
      </tr>
      </tbody>
    </table>
    <% if invoice.sprint_cost > invoice.sprint_payments %>
      <div class="label label-danger">Balance: $<%= invoice.sprint_cost - invoice.sprint_payments %></div>
    <% end %>
  </div>
</div>