<div class="well">
<strong>Review Invoice</strong>
  <% if invitation %>
    <% if estimate %>
      <h6>Send estimate to <%= customer_email %>? A Jeweler account does not exist for this user so we will invite him
        to join your project on Jeweler also.</h6>
    <% else %>
      <h6>Send invoice to <%= customer_email %>? A Jeweler account does not exist for this user so we will invite him to
        join your project on Jeweler also.</h6>
    <% end %>
  <% else %>
    <% if estimate %>
      <h6>Send estimate to <%= customer_email %>?</h6>
    <% else %>
      <h6>Send invoice to <%= customer_email %>?</h6>
    <% end %>
  <% end %>
  <% if payment_request_amount %>
    <p>
      <strong>Payment Request Amount: </strong><%= payment_request_amount %>
    </p>
  <% end %>
  <% if invoice_note %>
    <p>
      <strong>Invoice Note: </strong><%= invoice_note %>
    </p>
  <% end %>
  <%= form_with url: send_invoice_path do %>
    <%= hidden_field_tag :customer_email, customer_email %>

    <% if customer %>
      <% hidden_field_tag :customer_id, customer.id %>
    <% else %>
      <% hidden_field_tag :user_id, 'false' %>
    <% end %>

    <%= hidden_field_tag :invoice_id, invoice.id %>
    <%= hidden_field_tag :estimate, estimate.to_s %>
    <%= hidden_field_tag :invitation, invitation.to_s %>

    <%= submit_tag 'Send', class: 'btn btn-success' %>
  <% end %>
</div>

<%= render 'invoices/generate_printable_invoice',
           invoice: invoice,
           estimate: estimate,
           display_send_btn: false,
           display_pay_btn: true,
           display_print_btn: false,
           customer: customer,
           customer_email: customer_email,
           payment_request_amount: payment_request_amount,
           invoice_note: invoice_note,
           display_payments: display_payments
%>