<%= form_with(url: review_customer_invoice_path, class: 'form-horizontal') do %>
  <div class='row'>
    <div class='col-xs-12 col-sm-4'>
      <div class='form-field' style='color: black'>
        <%= select_tag "customer_id",
                       options_from_collection_for_select(sprint.project.customers, "id", "first_name"),
                       prompt: "Select a Customer",
                       class: "form-control",
                       style: "color:black" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-1">
      <h4>Or</h4>
    </div>
    <div class='col-xs-12 col-sm-4'>
      <div class='input-group'>
        <span class="input-group-addon"><i class="fa-envelope-o"></i></span>
        <%= text_field_tag 'customer_email', 'Customer Email', class: 'form-control payment_form_item' %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <%= hidden_field_tag :estimate, estimate.to_s %>
      <%= hidden_field_tag :sprint_id, sprint.id %>
      <%= submit_tag 'Send', :class => 'btn-sm btn-success form-control' %><br>
    </div>
  </div>
  <hr class="invoince-review-split">
  <div class="row">
    <div class='col-xs-12 col-sm-4'>
      <div class='input-group'>
        <span class="input-group-addon"><i class="fas fa-pencil-alt"></i></span>
        <%= text_field_tag 'invoice_note', '(Optional) Invoice Note', class: 'form-control' %>
      </div>
    </div>
    <% if sprint.payment_due %>
      <div class='col-xs-12 col-sm-4'>
        <div class='input-group'>
          <span class="input-group-addon"><i class="fa-money"></i></span>
          <%= text_field_tag 'request_amount', '(Optional) Request Amount', class: 'form-control' %>
        </div>
      </div>
    <% end %>
    <div class='col-xs-12 col-sm-2'>
      <% if sprint.payment_due %>
        <span class="label label-default">Payment Requested</span>
      <% else %>
        <%= link_to 'Request Pay'.html_safe,
                    request_payment_path(sprint.id),
                    class: 'btn btn-sm btn-success payment-request-btn',
                    remote: true %>
      <% end %>
    </div>
    <% unless sprint.payments.empty? %>
      <div class='col-xs-12 col-sm-2'>
        <div class='input-group'>
          <%= label_tag 'display_payments', 'Display Payments?' %>
          <%= check_box_tag 'display_payments', 'Display Payments?', class: 'form-control payment_form_item' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>