<script type="text/javascript">
    jQuery(document).ready(function ($) {
        var i = 0;
        var line_chart_data_source = [
            <% project.invoices.each_with_index do |invoice, index| %>
            {
                id: ++i,
                planned_hours: <%= invoice.planned_hours.to_s %>,
                hours: <%= invoice.hours.to_s %>
            }<% if index != project.invoices.size %>, <% end %>
            <% end %>
        ];

        <%
        if project.max_hours >= project.max_planned_hours
          max_hours = project.max_hours
        else
          max_hours = project.max_planned_hours
        end
        %>
        $("#hours_vs_reported_chart").dxChart({
            dataSource: line_chart_data_source,
            tooltip: {
                enabled: true
            },
            commonSeriesSettings: {
                argumentField: "id",
                point: {visible: true, size: 5, hoverStyle: {size: 7, border: 0, color: 'inherit'}},
                line: {width: 1, hoverStyle: {width: 1}}
            },
            series: [
                {valueField: "planned_hours", name: "Estimated Hours", color: "#68b828"},
                {valueField: "hours", name: "Hours", color: "#eeeeee"},
            ],
            legend: {
                position: 'inside',
                paddingLeftRight: 5
            },
            commonAxisSettings: {
                label: {
                    visible: false
                },
                grid: {
                    visible: true,
                    color: '#f9f9f9'
                }
            },
            valueAxis: {
                max: <%= (max_hours * 2).to_s %>
            },
            argumentAxis: {
                valueMarginsEnabled: false
            }
        });
        var y = 0;
        $("#sprint_payments_chart").dxChart({
            dataSource: [
                <% project.sprints.each_with_index do |invoice, index| %>
                {
                    id: ++y,
                    payment: <%= invoice.total_payments.to_s %>
                }<% if index != project.invoices.size %>, <% end %>
                <% end %>
            ],
            tooltip: {
                enabled: true
            },
            series: {
                argumentField: "id",
                valueField: "payment",
                name: "Payments",
                type: "bar",
                color: '#7c38bc'
            },
            commonAxisSettings: {
                label: {
                    visible: false
                },
                grid: {
                    visible: false
                }
            },
            legend: {
                visible: false
            },
            argumentAxis: {
                valueMarginsEnabled: true
            },
            valueAxis: {
                max: <%= project.max_payment %>
            },
            equalBarWidth: {
                width: 11
            }
        });


        // Sprint Length
        var doughnut1_data_source = [
            <% project.invoices.each_with_index do |invoice, index| %>
            {sprint: "sprint<%= invoice.sprint.to_s %>", val: <%= invoice.planned_hours.to_s %>},
            <% end %>
        ], timer;

        $("#sprint_length_chart").dxPieChart({
            dataSource: doughnut1_data_source,
            tooltip: {
                enabled: true
            },
            title: 'Sprint Length',
            size: {
                height: 90
            },
            legend: {
                visible: true
            },
            series: [{
                type: "doughnut",
                argumentField: "sprint"
            }],
            palette: ['#5e9b4c', '#6ca959', '#b9f5a6'],
        });

    });


</script>

<div class="row">
  <div class="col-sm-3">

    <div class="xe-widget xe-counter" data-count=".num" data-from="0" data-to="<%= project.sprint_total.to_s %>" data-suffix="" data-duration="2">
      <div class="xe-icon">
        <i class="fa fa-paper-plane"></i>
      </div>
      <div class="xe-label">
        <strong class="num"><%= project.sprint_total.to_s %></strong>
        <span>Sprints</span>
      </div>
    </div>

    <div class="xe-widget xe-counter xe-counter-purple" data-count=".num" data-from="0" data-to="<%= project.tasks.count.to_s %>" data-suffix="" data-duration="3" data-easing="false">
      <div class="xe-icon">
        <i class="fa fa-check"></i>
      </div>
      <div class="xe-label">
        <strong class="num"><%= project.tasks.count.to_s %></strong>
        <span>Tasks</span>
      </div>
    </div>

    <div class="xe-widget xe-counter xe-counter-info" data-count=".num" data-from="0" data-to="<%= project.payments.count.to_s %>" data-duration="4" data-easing="true">
      <div class="xe-icon">
        <i class="fa fa-dollar-sign"></i>
      </div>
      <div class="xe-label">
        <strong class="num"><%= project.payments.count.to_s %></strong>
        <span>Payments</span>
      </div>
    </div>

  </div>
  <div class="col-sm-6">

    <div class="chart-item-bg">
      <div class="chart-label">
        <% task_avg = project.average_task_hours(0).to_s %>
        <div class="h3 text-secondary text-bold" data-count="this" data-from="0.00" data-to="<%= task_avg %>" data-suffix=" hrs." data-duration="4"><%= task_avg %>
          hrs.
        </div>
        <span class="text-medium text-muted">Avg. Task Length</span>
      </div>
      <div id="hours_vs_reported_chart" style="height: 298px;"></div>
    </div>

  </div>
  <div class="col-sm-3">

    <div class="chart-item-bg">
      <div class="chart-label chart-label-small">
        <% avg_payment = project.average_payment(0).to_s %>
        <div class="h4 text-purple text-bold" data-count="this" data-from="0.00" data-to="<%= avg_payment %>" data-prefix="$" data-duration="1.5">$<%= avg_payment %></div>
        <span class="text-small text-upper text-muted">Avg. Payment</span>
      </div>
      <div id="sprint_payments_chart" style="height: 134px;"></div>
    </div>

    <div class="chart-item-bg">
      <div class="chart-label chart-label-small">
        <div class="h4 text-secondary text-bold" data-count="this" data-from="0.00" data-to="<%= project.average_sprint_hours.to_s %>" data-suffix=" hrs." data-duration="2"><%= project.average_sprint_hours.to_s %>
          hrs.
        </div>
        <span class="text-small text-upper text-muted">Avg. Sprint Length</span>
      </div>
      <div id="sprint_length_chart" style="height: 134px; position: relative;">
        <div style="position: absolute; top: 25px; right: 0; left: 40%; bottom: 0"></div>
      </div>
    </div>

  </div>
</div>