<div>
  <span class="alert alert-success task-id"><%= task.task_id %></span><br>
  <span><strong>Rate: </strong><%= task.rate.sprint_rate %></span><br>
  <span><strong>Estimate: </strong><%= task.planned_hours.hours %></span><br>
  <span><strong>Hours: </strong><%= task.hours.hours %></span><br>
  <span><strong>Cost: </strong><%= task.cost.money %></span><br>
  <span><strong>Task: </strong><%= task.description %></span><br>
</div>