<div class="row">

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <div class="xe-widget xe-counter xe-counter-info" data-count=".num" data-from="0" data-to="<%= project.current_sprint.sprint.to_s %>" data-prefix="Sprint " data-duration="2">
      <div class="xe-icon">
        <i class="far fa-clock"></i>
      </div>
      <div class="xe-label">
        <strong class="num">Sprint <%= project.current_sprint.sprint.to_s %></strong>
        <span>Current Sprint</span>
      </div>
    </div>
  </div>

  <% if project.current_sprint.estimate? %>

    <div class="col-xs-12 col-sm-6 col-lg-3" data-animate="true">
      <div class="xe-widget xe-counter" data-count=".num" data-from="0" data-to="<%= project.current_sprint.planned_cost.to_s %>" data-prefix="$" data-duration="2">
        <div class="xe-icon">
          <i class="fas fa-dollar-sign"></i>
        </div>
        <div class="xe-label">
          <strong class="num">$<%= project.current_sprint.planned_cost.to_s %></strong>
          <span>Sprint <%= project.sprint_current.to_s %> Projected Revenue</span>
        </div>
      </div>
    </div>

    <div data-toggle="settings-pane" data-animate="true" class="col-xs-12 col-sm-6 col-lg-3">
      <div class="xe-widget xe-counter" data-count=".num" data-from="0" data-to="<%= project.current_sprint.planned_hours.to_s %>" data-suffix=" Hours" data-duration="2">
        <div class="xe-icon">
          <i class="far fa-clock"></i>
        </div>
        <div class="xe-label">
          <strong class="num"><%= project.current_sprint.planned_hours.to_s %> Hours</strong>
          <span>Sprint <%= project.sprint_current.to_s %> Projected Duration</span>
        </div>
      </div>
    </div>

  <% else %>

    <div data-toggle="settings-pane" data-animate="true" class="col-xs-12 col-sm-6 col-lg-3">
      <div class="xe-widget xe-counter" data-count=".num" data-from="0" data-to="<%= project.current_sprint.cost.to_s %>" data-prefix=" $" data-duration="2">
        <div class="xe-icon">
          <i class="fas fa-dollar-sign"></i>
        </div>
        <div class="xe-label">
          <strong class="num">$<%= project.current_sprint.cost.to_s %></strong>
          <span>Sprint <%= project.sprint_current.to_s %> Billed</span>
        </div>
      </div>
    </div>

    <div data-toggle="settings-pane" data-animate="true" class="col-xs-12 col-sm-6 col-lg-3">
      <div class="xe-widget xe-counter" data-count=".num" data-from="0" data-to="<%= project.current_sprint.payment.to_s %>" data-prefix="$" data-duration="2">
        <div class="xe-icon">
          <i class="fas fa-dollar-sign"></i>
        </div>
        <div class="xe-label">
          <strong class="num">$<%= project.current_sprint.payment.to_s %></strong>
          <span>Sprint <%= project.sprint_current.to_s %> Revenue (Payment Received)</span>
        </div>
      </div>
    </div>

  <% end %>

  <div class="col-xs-12 col-sm-6 col-lg-3">
    <% commits = project.notes.where(note_type: 'commit').count %>
    <div class="xe-widget xe-counter xe-counter-red" data-count=".num" data-from="0" data-to="<%= commits.to_s %>" data-suffix="" data-duration="2">
      <div class="xe-icon">
        <i class="fas fa-code-branch"></i>
      </div>
      <div class="xe-label">
        <strong class="num"><%= commits.to_s %></strong>
        <span>Sprint <%= project.sprint_current.to_s %> Commits</span>
      </div>
    </div>
  </div>

</div>