<%= form_with url: generate_charge_modal_path, class: 'form-horizontal' do %>

  <div class='row text-center'>
    <h4>Make Payment</h4>
  </div>

  <div class='row'>
    <div class='col-xs-12 col-sm-6 col-sm-4'>
      <div class='form-field' style='color: black'>
        <%= select_tag 'sprint_id',
                       options_from_collection_for_select(project.sprints.order('sprint::integer DESC'), 'id', 'sprint'),
                       prompt: 'Select a Sprint',
                       class: 'form-control payment_form_item',
                       style: 'color:black' %>
      </div>
    </div>
    <div class='col-xs-12 col-sm-6 col-sm-4'>
      <div class='input-group'>
        <span class="input-group-addon">$</span>
        <%= text_field_tag 'charge_amount', 'Payment Amount', class: 'form-control payment_form_item' %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-4">
      <%= submit_tag 'Pay', :class => 'btn-sm btn-success form-control payment_form_item' %><br>
    </div>
  </div>

  <div class='row margin-top-10'>

    <div class='col-xs-12'>
      <div class='form-field'>
        <%= hidden_field_tag :project_id, project.id %>
        <%= render 'sprints/fee_notice' %>
      </div>
    </div>
  </div>
<% end %>
