<div class="panel panel-default">
  <% if sprint.sprint_complete? %>
    <div class="alert alert-success">Sprint Complete<i class="fas fa-check fa-1x pull-right"></i></div>
  <% end %>
  <div class="panel-heading">
    <h4 class="panel-title">
      Sprint <%= sprint.sprint.to_s %>
      <span id="sprint_<%= sprint.sprint.to_s %>_description" class="description">
        <% if sprint.description.nil? and sprint.project.owner?(current_user) %>
          <%= link_to 'Add Description', edit_sprint_description_path(sprint.id), remote: true %>
        <% else %>
          - <%= sprint.description %>
          <% if sprint.project.owner?(current_user) %>
              <%= link_to '(Edit)', edit_sprint_description_path(sprint.id), remote: true %>
            <% end %>
        <% end %>
        </span>
    </h4>
    <div class="panel-options">
      <div class="btn-group">
        <% if sprint.project.sprint_current == sprint.sprint %>
          <a href="#" disabled class="btn btn-sm btn-success"><i class="fas fa-paper-plane"></i> Current Sprint</a>
        <% else %>
          <% if sprint.project.owner?(current_user) and sprint.open? %>
            <%= link_to 'Set Current Sprint',
                        set_current_sprint_path(sprint.id),
                        class: 'btn btn-sm btn-success',
                        remote: true,
                        data: {confirm: 'Are you sure you want to change current sprint to ' + sprint.sprint.to_s + '?'} %>
          <% end %>
          <% if sprint.open? %>
            <% if sprint.project.owner?(current_user) %>
              <%= link_to 'Sprint Open',
                          close_sprint_path(sprint.id),
                          class: 'btn btn-sm btn-success sprint-open-btn',
                          remote: true,
                          data: {confirm: 'Are you sure you want to close sprint ' + sprint.sprint.to_s + '?'} %>
            <% else %>
              <a href="#" disabled class="btn btn-sm btn-sucess">Sprint Open</a>
            <% end %>
          <% else %>
            <% if sprint.project.owner?(current_user) %>
              <%= link_to 'Sprint Closed',
                          open_sprint_path(sprint.id),
                          class: 'btn btn-sm btn-danger sprint-close-btn',
                          remote: true,
                          data: {confirm: 'Are you sure you want to open sprint ' + sprint.sprint.to_s + '?'} %>
            <% else %>
              <a href="#" disabled class="btn btn-sm btn-danger">Sprint Closed</a>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="btn-group">

        <% if sprint.project.owner?(current_user) %>
          <% if sprint.only_planned? %>
            <%= link_to 'Generate Estimate', generate_invoice_path(sprint.id, 'true'), class: 'btn btn-sm btn-success', remote: true %>
          <% else %>
            <%= link_to 'Generate Invoice', generate_invoice_path(sprint.id, 'false'), class: 'btn btn-sm btn-success', remote: true %>
          <% end %>
        <% end %>

        <% if sprint.project.owner?(current_user) %>
          <% if sprint.payment_due? %>
            <%= link_to 'Payment Requested'.html_safe,
                        cancel_request_payment_path(sprint.id),
                        class: 'btn btn-sm btn-warning payment-requested-btn',
                        remote: true %>
          <% else %>
            <%= link_to 'Request Pay'.html_safe,
                        request_payment_path(sprint.id),
                        class: 'btn btn-sm btn-success payment-request-btn',
                        remote: true %>
          <% end %>
        <% end %>
      </div>

      <% if sprint.project.owner?(current_user) %>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-gray dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="fa-wrench"></i> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-left dropdown-white" role="menu">
            <li>
              <a href="#" onclick="$('#sprint_bar_graph').toggle('slide'); return false">Toggle Cost Chart</a>
            </li>
            <% unless sprint.current? %>
              <li>
                <%= link_to 'Set Current Sprint', set_current_sprint_path(sprint.id), remote: true %>
              </li>
              <li>
                <% if sprint.open? %>
                  <%= link_to 'Close Sprint', close_sprint_path(sprint.id), remote: true, data: {confirm: 'Are you sure you want to close sprint ' + sprint.sprint.to_s + '?'} %>
                <% else %>
                  <%= link_to 'Open Sprint', open_sprint_path(sprint.id), remote: true, data: {confirm: 'Are you sure you want to open sprint ' + sprint.sprint.to_s + '?'} %>
                <% end %>
              </li>
            <% end %>
            <li><%= link_to 'Generate Estimate', generate_invoice_path(sprint.id, 'true'), remote: true %></li>
            <% unless sprint.only_planned? %>
              <li><%= link_to 'Generate Invoice', generate_invoice_path(sprint.id, 'false'), remote: true %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <div class="panel-body">

    <div class="table-responsive" data-pattern="priority-columns">
      <table class="table table-striped">
        <thead>
        <tr>
          <th data-priority="1"></th>
          <th data-priority="1">Task</th>
          <th data-priority="2">Rate</th>
          <th data-priority="3" class="hidden-xs">Estimate</th>
          <% if sprint.only_planned? %>
            <th data-priority="3">Projected Cost</th>
          <% else %>
            <th data-priority="3">Hours</th>
            <th data-priority="3">Cost</th>
          <% end %>

        </tr>
        </thead>
        <% if sprint.project.current_task == sprint.id %>
          <% current_sprint_string = 'current_sprint task_list' %>
        <% end %>

        <tbody class="<%= current_sprint_string %>">

        <% sprint.tasks.each do |task| %>
          <tr id="task_row_<%= task.id.to_s %>" onclick="open_task_action(<%= task.id.to_s %>)">
            <td>
              <% if sprint.project.current_task == task %>
                <span class="label label-default">Current Task</span>
              <% elsif task.complete %>
                <i class="fas fa-check fa-1x"></i>
              <% end %>
            </td>
            <td>
              <%= render 'tasks/task_actions', task: task, user: current_user %>
              <span class="alert alert-success task-id">
                #task<%= task.sprint.sprint.to_s %><%= task.get_letter %>
              </span>
              <span class="hidden-xs">
                <%= task.description %>
              </span>
            </td>
            <td>$<%= task.rate.to_f.prettify %>/hr</td>
            <td><%= task.planned_hours.prettify %> hrs.</td>
            <% if sprint.only_planned? %>
              <td><%= task.planned_cost.money %></td>
            <% else %>
              <td><%= task.hours.prettify %> hrs.</td>
              <td><%= task.total_cost.money %></td>
            <% end %>

          </tr>
        <% end %>

        <tr>
          <th></th>
          <th id="create_task_container_sprint_<%= sprint.id.to_s %>">
            <% if sprint.project.owner?(current_user) %>
              <%= link_to 'Create Task',
                          new_project_sprint_task_path(sprint.project.id, sprint.id),
                          remote: true,
                          id: 'create_task_inline_button',
                          class: 'btn btn-sm btn-primary',
                          style: 'display:inline;font-size:1em; padding-right:10px;' %>
            <% end %>
          </th>
          <th><strong>Total:</strong></th>
          <th><%= sprint.planned_hours.prettify %> hrs.</th>
          <% if sprint.only_planned? %>
            <td><%= sprint.planned_cost.money %></td>
          <% else %>
            <td><%= sprint.hours.prettify %> hrs.</td>
            <td><%= sprint.cost.money %></td>
          <% end %>
        </tr>
        </tbody>
      </table>
    </div>
    <div style="display:none" id="edit_tasks_<%= sprint.id.to_s %>_hidden_row" class="col-xs-12"></div>
    <div style="display:none" id="tasks_<%= sprint.id.to_s %>_hidden_row" class="col-xs-12"></div>


    <% unless sprint.payments.empty? %>
      <table class="hidden-xs table table-condensed">
        <tbody>
        <% sprint.payments.each do |payment| %>
          <tr>
            <td><%= payment.amount %></td>
            <td><%= payment.payment_type %></td>
            <td><%= payment.user.full_name %></td>
            <td><%= payment.created_at.strftime("%d %b. %Y") %> </td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <td><strong>Payment Total:</strong></td>
          <td><%= sprint.sprint_payments.money %></td>
        </tr>
        </tbody>
      </table>

      <div class="visible-xs text-center">
        <% sprint.payments.each do |payment| %>
          <p>
            <% unless payment.user.first_name.nil? or payment.user.last_name.nil? %>
              <%= payment.user.full_name %> Paid
            <% end %>

            <%= payment.amount.money %>

            <% unless payment.payment_type.nil? %>
              <%= payment.payment_type %>
            <% end %>

            <%= payment.created_at.strftime("%d %b. %Y") %>
          </p>
        <% end %>
        <hr>
        <strong>Total: </strong><%= sprint.sprint_payments.money %>
      </div>
    <% end %>

    <% if sprint.project.customer?(current_user) %>
      <div>
        <div style="display:none" id="sprint_payment_inline_<%= sprint.id.to_s %>">
          <%= render 'sprints/sprint_payment_form', sprint: sprint %>
        </div>
        <%= link_to 'Make Sprint ' + sprint.sprint.to_s + ' Payment', open_sprint_payment_path(sprint.id), class: 'btn btn-primary btn-sm', remote: true %>
      </div>
    <% end %>

    <div class="sprint-totals pull-right well well-sm">
      <span>
        <strong>Sprint <%= sprint.sprint.to_s %></strong>
      </span>
      <% if sprint.only_planned? %>
        <span>
          <strong>No Hours Reported</strong>
        </span>
      <% end %>

      <% if sprint.payments.empty? %>
        <span><strong>No Payments Made</strong></span>
      <% else %>
        <% if sprint.balance > 0 %>
        <span class="color-green">
          <strong>Customer Balance:</strong> +<%= sprint.balance.money %>
        </span>
        <% elsif sprint.balance == 0 %>
        <span class="color-green">
         <strong>Customer Balance:</strong> <%= sprint.balance.money %>
        </span>
        <% elsif sprint.balance < 0 %>
        <span class="color-red">
         <strong>Customer Balance:</strong> <%= sprint.balance.money %>
        </span>
        <% end %>
      <% end %>
      <span>
        <strong>Projected Cost:</strong> <%= sprint.planned_cost.money %>
      </span>
      <% unless sprint.only_planned? %>
        <span>
          <strong>Cost:</strong> <%= sprint.cost.money %>
        </span>
      <% end %>
    </div>
  </div>
</div>