<ul id="nestable-list-1" class="uk-nestable" data-uk-nestable>
  <% count = 0 %>
  <% sprint.tasks.each_with_index do |task, task_index| %>
    <li data-item="task_<%= task_index.to_s %>" data-item-id="<%= ApplicationHelper.alphabet.at(count) %>">
      <div class="uk-nestable-item">
        <div class="uk-nestable-handle"></div>
        <div data-nestable-action="toggle"></div>
        <div class="list-label"><strong>Task: </strong> <%= task.description %></div>
      </div>

      <ul>
        <% count = count + 1 %>
        <% sprint.notes.commits.each do |commit| %>
          <li data-item="commit_<%= commit.id.to_s %>" data-item-id="<%= ApplicationHelper.alphabet.at(count) %>">
            <div class="uk-nestable-nochildren uk-nestable-item">
              <div class="uk-nestable-handle"></div>
              <div data-nestable-action="toggle"></div>
              <div class="list-label"><%= truncate(commit.git_commit_id, length: 10) %> <%= truncate(commit.content.html_safe, length: 100) %></div>
            </div>
          </li>
          <% count = count + 1 %>
        <% end %>
      </ul>
    </li>
  <% end %>
  <% if 1 == 2 #TODO: Finish getting commits without Tasks %>

    <li data-item="No_Task" data-item-id="task_none">
      <div class="uk-nestable-item">
        <div class="uk-nestable-handle"></div>
        <div data-nestable-action="toggle"></div>
        <div class="list-label"><strong>No Task Defined</strong></div>
      </div>

      <ul>
        <% sprint.notes.commits.where("id not in (select task_id from notes)").each do |commit| %>
          <%= truncate(commit.git_commit_id, length: 10) %> <%= truncate(commit.content.html_safe, length: 100) %>
        <% end %>
      </ul>
    </li>
  <% end %>

</ul>