<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <%= render 'sprints/sprints_bar_graph', project: @project %>
    </div>
  </div>
</div>

<script>
    <% @project.sprints.each do |sprint| %>
    $("#sprint_btn_<%= sprint.sprint.to_s %>").click(function () {
        $('html, body').animate({
            scrollTop: $("#sprint_<%= sprint.sprint.to_s %>_panel").offset().top
        }, 2000);
        return false;
    });
    <% end %>
</script>

<div class="panel panel-default">
  <div class="panel-heading">
    Sprint
  </div>
  <div class="panel-body">
    <div class="row">
      <div id="rootwizard" class="form-wizard">
        <!-- Sprint Tab Numbers -->
        <ul id="sprint-tabs" class="tabs">
          <% @project.sprints.each do |sprint| %>
            <% if sprint.current? %>
              <li id="sprint_tab_<%= sprint.sprint.to_s %>" class="completed current-sprint-tab sprint-tab">
                <a href="#" id="sprint_btn_<%= sprint.sprint.to_s %>"><%= sprint.sprint.to_s %></a>
                <% if sprint.open %>
                  <span class="label label-success">Open</span>
                <% else %>
                  <span class="label label-danger">Closed</span>
                <% end %><br>
                <span><%= truncate(sprint.description, length: 100) %></span>
              </li>
            <% elsif sprint.sprint < sprint.project.sprint_current %>
              <li id="sprint_tab_<%= sprint.sprint.to_s %>" class="completed sprint-tab">
                <a href="#" id="sprint_btn_<%= sprint.sprint.to_s %>"><%= sprint.sprint.to_s %></a>
                <% if sprint.open %>
                  <span class="label label-success">Open</span>
                <% else %>
                  <span class="label label-danger">Closed</span>
                <% end %><br>
                <span><%= truncate(sprint.description, length: 100) %></span>
              </li>
            <% else %>
              <li id="sprint_tab_<%= sprint.sprint.to_s %>" class="sprint-tab">
                <a href="#" id="sprint_btn_<%= sprint.sprint.to_s %>"><%= sprint.sprint.to_s %></a>
                <% if sprint.open %>
                  <span class="label label-success">Open</span>
                <% else %>
                  <span class="label label-danger">Closed</span>
                <% end %><br>
                <span><%= truncate(sprint.description, length: 100) %></span>
              </li>
            <% end %>
          <% end %>

        </ul>
        <div id="sprint_gauge_container" class="progress-indicator"
             style="width: 0%;">
          <span></span>
        </div>
        <script>
            $('#sprint_gauge_container').animate({
                width: '<%= ApplicationHelper.sprint_percent(@project) %>%'
            }, {duration: 1000});
        </script>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Current Sprint
  </div>
  <div class="panel-body">
    <div class="row">
      <div id="sprint_<%= @project.current_sprint.sprint.to_s %>_panel" class="col-sm-12">
        <%= render 'sprints/sprint_slider', sprint: @project.current_sprint, sprint: @project.current_sprint.sprint %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Remaining Sprints
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <% @project.sprints.order('sprint ASC').each_with_index do |sprint, count| %>
          <div id="sprint_<%= sprint.sprint.to_s %>_panel">
            <% if count > @project.current_sprint.sprint %>
              <%= render 'sprints/sprint_slider', sprint: sprint %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Completed Sprints
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <% @project.sprints.order('sprint ASC').each_with_index do |sprint, count| %>
          <div id="sprint_<%= sprint.sprint.to_s %>_panel">
            <% if count < @project.current_sprint.sprint %>
              <%= render 'sprints/sprint_slider', sprint: sprint %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>