<%= form_with(model: project, local: true) do |form| %>
  <!--<form role="form" class="form-horizontal" role="form">-->

  <div class="col-xs-12 col-md-8">
    <% if project.errors.any? %>
      <div class="row">

        <div class="alert alert-error">
          <div id="error_explanation">
            <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

            <ul>
              <% project.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="form-group">
        <%= form.label :name, class: 'control-label' %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <%= form.file_field :image, multiple: false %>
    </div>

    <div class="row">
      <div class="form-group">
        <%= form.label :language, class: 'control-label' %>
        <%= form.text_field :language, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="">
        <div class="row form-group">
          <%= form.label :sprint_current, class: 'col-sm-4 control-label' %>
          <%= form.text_field :sprint_current, class: 'col-sm-2 form-control' %>
        </div>
      </div>
      <div class="">
        <div class="row form-group">
          <%= form.label :sprint_total, class: 'col-sm-4 control-label' %>
          <%= form.text_field :sprint_total, class: 'col-sm-2 form-control' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= form.label :description, class: 'control-label' %>
        <%= form.text_area :description, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= form.label :github_url, class: 'control-label' %>
        <%= form.text_field :github_url, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= form.label :readme_file, class: 'control-label' %>
        <%= form.text_field :readme_file, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :readme_remote, class: 'control-label' %>
        <%= form.text_field :readme_remote, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= form.label :stage_website_url, class: 'control-label' %>
        <%= form.text_area :stage_website_url, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= form.label :demo_url, class: 'control-label' %>
        <%= form.text_area :demo_url, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= form.label :prod_url, class: 'control-label' %>
        <%= form.text_area :prod_url, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <%= form.submit 'Submit', :class => 'btn-btn-success' %>
      <%= link_to 'Back', @project, class: 'btn btn-primary' %>
    </div>


  </div>
<% end %>
