<%= form_with(model: project, local: true) do |form| %>
  <!--<form role="form" class="form-horizontal" role="form">-->

  <div class="col-xs-12 col-md-8">
    <% if project.errors.any? %>
      <div class="row">

        <div class="alert alert-error">
          <div id="error_explanation">
            <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

            <ul>
              <% project.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>

    <div class="well">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <%= form.label :name, class: 'control-label' %>
            <%= form.text_field :name, class: 'form-control' %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <%= form.label :description, 'Project Description', class: 'control-label' %>
            <%= form.text_area :description, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <%= form.label :github_url, class: 'control-label' %>
            <%= form.text_field :github_url, class: 'form-control' %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <%#= form.label :language, class: 'control-label' %>
            <%#= form.text_field :language, class: 'form-control' %>
            <label class="control-label" for="project_language">Language</label>
            <%= ApplicationHelper.build_languages_dropdown(project.language).html_safe %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="well">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <% unless project.image.url.nil? %>
                <div class="row">
                  <div class="col-xs-6">
                    <%= image_tag project.image.url, class: 'project-edit-img img-responsive img-rounded' %>
                  </div>
                </div>
              <% end %>
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <%= form.label :image, 'Project Logo', class: 'control-label' %>
                    <%= form.file_field :image, multiple: false %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="well">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <%= form.label :sprint_current, class: 'control-label' %>
            <%= form.text_field :sprint_current, class: 'form-control' %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <%= form.label :sprint_total, class: 'control-label' %>
            <%= form.text_field :sprint_total, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>

    <div class="well">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <div class="form-group">
              <%= form.label :google_analytics_tracking_code, 'Google Analytics Tracking Code', class: 'control-label' %>
              <%= form.text_field :google_analytics_tracking_code, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <div class="form-group">
              <%= form.label :heroku_token, 'Heroku API Token', class: 'control-label' %>
              <%= form.text_field :heroku_token, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% project_form_readme_feature = false %>
    <% if project_form_readme_feature %>
      <div class="row">
        <div class="form-group">
          <%= form.label :readme_file, class: 'control-label' %>
          <%= form.text_field :readme_file, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :readme_remote, class: 'control-label' %>
          <%= form.text_field :readme_remote, class: 'form-control' %>
        </div>
      </div>

    <% end %>

    <div class="well">
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <%= form.label :stage_website_url, 'Staging Server URL', class: 'control-label' %>
            <%= form.text_field :stage_website_url, class: 'form-control' %>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <%= form.label :prod_url, 'Production Server URL', class: 'control-label' %>
            <%= form.text_field :prod_url, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <%= form.label :demo_url, 'Demo Server URL', class: 'control-label' %>
            <%= form.text_field :demo_url, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="well">
          <div class="row padding-left-20 margin-top-10">
            <%= form.submit 'Submit', :class => 'btn btn-success' %>
            <%= link_to 'Cancel', @project, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>


  </div>
<% end %>
