<div class="panel panel-default">
  <div class="panel-heading">
    Project Owner
  </div>
  <div class="panel-body">
    <table class="table table-hover members-table middle-align">
      <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>E-Mail</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="user-image hidden-xs hidden-sm">
          <% if project.owner.image.url.nil? %>
            <img src="<%= image_path 'user-1.png' %>" class="img-circle" alt="user-pic"/>
          <% else %>
            <img src="<%= image_path project.owner.image.url %>" class="img-circle" alt="user-pic"/>
          <% end %>
        </td>
        <td class="user-name">
          <span class="name"><%= project.owner.first_name %> <%= project.owner.last_name %></span>
          <span><%= project.owner.company %></span>
        </td>
        <td class="">
          <span class="email"><%= project.owner.email %></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>