<%

  # Sprint Progress Meter

  progress_percent = (@project.phase_current.to_f / @project.phase_total.to_f) * 100.to_f
%>

<div id="rootwizard" class="form-wizard">

  <!-- Sprint Numbers -->
  <ul class="tabs">
    <% count = 1 %>
    <% @project.phase_total.times do |sprint| %>
      <% if count == @project.phase_current %>
        <li class="completed ms-hover">
          <a href="#tab<%= count %>" data-toggle="tab"><%= count %></a>
        </li>
      <% elsif count < @project.phase_current %>
        <li class="completed">
          <a href="#tab<%= count %>" data-toggle="tab"><%= count %></a>
        </li>
      <% else %>
        <li>
          <a href="#tab<%= count %>" data-toggle="tab"><%= count %></a>
        </li>
      <% end %>
      <% count = count + 1 %>
    <% end %>
  </ul>

  <!-- Green Bar -->
  <% if @project.phase_current != @project.phase_total %>
    <div class="progress-indicator"
         style="width: <%= progress_percent %>%;">
      <span></span>
    </div>
  <% else %>
    <div class="progress-indicator"
         style="width: 100%;">
      <span></span>
    </div>
  <% end %>

  <!-- Tab Content -->
  <div style="margin-top:0px;" class="tab-content">
    <% count = 1 %>

    <% @project.phase_total.times do |sprint| %>

      <% if count == @project.phase_current %>

        <div class="tab-pane active" id="tab<%= count %>">
          <% if !Invoice.where(project: @project, sprint: count).empty? %>
            <%= render 'invoices/invoice_panel', invoice: Invoice.where(project: @project, sprint: count).first, sprint: count %>
          <% end %>
        </div>

      <% else %>

        <div class="tab-pane" id="tab<%= count %>">
          <% if !Invoice.where(project: @project, sprint: count).empty? %>
            <%= render 'invoices/invoice_panel', invoice: Invoice.where(project: @project, sprint: count).first, sprint: count %>
          <% end %>
        </div>

      <% end %>

      <% count = count + 1 %>
    <% end %>

  </div>

</div>