<%= row do %>
  <%= column3 do %>
    <div class="xe-widget xe-counter" data-count=".num" data-from="0" data-to="<%= project.users.count %>" data-suffix=" users" data-duration="2">
      <div class="xe-icon">
        <i class="linecons-user"></i>
      </div>
      <div class="xe-label">
        <strong class="num">99.9%</strong>
        <span>Server uptime</span>
      </div>
    </div>
  <% end %>
  <%= column3 do %>
    <div class="xe-widget xe-counter xe-counter-blue" data-count=".num" data-from="0" data-to="<%= project.users.count %>" data-suffix=" users" data-duration="2">
      <div class="xe-icon">
        <i class="linecons-user"></i>
      </div>
      <div class="xe-label">
        <strong class="num">99.9%</strong>
        <span>Server uptime</span>
      </div>
    </div>
  <% end %>
  <%= column3 do %>
    <div class="xe-widget xe-counter xe-counter-blue" data-count=".num" data-from="0" data-to="<%= project.users.count %>" data-suffix=" users" data-duration="2">
      <div class="xe-icon">
        <i class="linecons-user"></i>
      </div>
      <div class="xe-label">
        <strong class="num">99.9%</strong>
        <span>Server uptime</span>
      </div>
    </div>
  <% end %>
  <%= column3 do %>
    <div class="xe-widget xe-counter xe-counter-blue" data-count=".num" data-from="0" data-to="<%= project.users.count %>" data-suffix=" users" data-duration="2">
      <div class="xe-icon">
        <i class="linecons-user"></i>
      </div>
      <div class="xe-label">
        <strong class="num">99.9%</strong>
        <span>Server uptime</span>
      </div>
    </div>
  <% end %>
<% end %>

<%= row do %>
  <%= column_half do %>
    <%= render 'projects/owner', project: project %>
  <% end %>

  <%= column_half do %>
    <%= panel do %>
      <%= panel_heading do %> Invitations
      <% end %>
      <%= panel_body do %>
        <% unless project.invitations.empty? %>
          <%= render 'invitations/invitations', project: project %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= row do %>
  <%= column_half do %>
    <%= panel do %>
      <%= panel_heading do %>
        Project Developers
      <% end %>
      <%= panel_body do %>
        <%= render 'project_developers/developers', project: project %>
      <% end %>
    <% end %>
  <% end %>

  <%= column_half do %>
    <%= panel do %>
      <%= panel_heading do %>
        Project Customers
      <% end %>
      <%= panel_body do %>
        <%= render 'project_customers/customers', project: project %>
      <% end %>
    <% end %>
  <% end %>
<% end %>



