<!-- User Info Sidebar -->
<div class="user-info-sidebar">

  <a href="#" class="user-img">
    <!-- Add img-cirlce to image class possibly-->
    <% if @project.image.url.nil? %>
      <img src="<%= image_path 'user-4.png' %>" alt="user-img" class="img-cirlce img-responsive img-thumbnail">
    <% else %>
      <img src="<%= image_path @project.image.url %>" alt="user-img" class="img-circleimg-responsive img-thumbnail">
    <% end %>
  </a>

  <a href="#" class="user-name">
    <%= @project.name %>
    <span class="user-status is-online"></span>
  </a>

  <span class="user-title">
        <%= @project.language %>
  </span>

  <hr>

  <ul class="list-unstyled user-info-list">
    <li>
      <i class="fa-home"></i>
      <%= @project.owner.first_name %>
      <%= @project.owner.last_name %>
    </li>
    <% if !@project.owner.company.nil? %>
      <li>
        <i class="fa-briefcase"></i>
        <%= @project.owner.company %>
        <%= @project.owner.last_name %>
      </li>
    <% end %>
    <% if @project.is_owner(current_user) %>
      <li>
        <a href="<%= edit_project_path(@project) %>">
          <i class="fas fa-cogs"></i>
          Edit Project
        </a>
      </li>
    <% end %>
  </ul>

  <hr>
  <ul class="list-unstyled user-friends-count">
    <li>
      <span><%= @project.phase_current %></span>
      Sprint
    </li>
    <li>
      <span><%= @project.phase_total %></span>
      Total
    </li>
  </ul>

  <% if @project.is_owner(current_user) %>
    <button type="button" class="btn btn-success btn-block text-left">
      Project Owner
      <i class="fa-check pull-right"></i>
    </button>

    <% if @project.payment_requested? %>
      <div id="request_payment" class="alert alert-danger">
        <strong>Payment Requested.</strong> Should arrive shortly!
      </div>
    <% else %>
      <div style="display:none" id="request_payment" class="alert alert-danger">
        <strong>Payment Requested.</strong> Should arrive shortly!
      </div>
      <div id="request_payment_button">
        <%= link_to 'Request Sprint Payment<i class="fas fa-dollar-sign fa-2x pull-right"></i>'.html_safe,
                    request_payment_path(@project.current_sprint.id),
                    remote: true,
                    :class => 'btn btn-success btn-block text-left' %>
      </div>
      </a>
    <% end %>
  <% elsif @project.is_customer(current_user) %>
    <button type="button" class="btn btn-success btn-block text-left">
      Project Member
      <i class="fa-check pull-right"></i>
    </button>
    <% if @project.payment_requested? %>
      <div class="alert alert-danger">
        <strong>Payment Requested.</strong> Click here to keep the dev happy!
      </div>
    <% end %>
    <a href="#" class="btn btn-success btn-block text-left">
      Request Sprint
      <% @project.phase_current.to_s %> Payment
      <i class="fas fa-dollar-sign fa-2x pull-right"></i>
    </a>
  <% end %>

</div>