<!-- User Info Sidebar -->
<div class="user-info-sidebar">

  <a href="#" class="user-img">
    <img src="<%= image_path 'user-4.png' %>" alt="user-img" class="img-cirlce img-responsive img-thumbnail">
  </a>

  <a href="#" class="user-name">
    <%= @project.name %>
    <span class="user-status is-online"></span>
  </a>

  <span class="user-title">
        <%= @project.language %>
  </span>

  <hr>

  <ul class="list-unstyled user-info-list">
    <li>
      <i class="fa-home"></i>
      <%= @project.owner.first_name %>
      <%= @project.owner.last_name %>
    </li>
    <% if !@project.owner.company.nil? %>
      <li>
        <i class="fa-briefcase"></i>
        <%= @project.owner.company %>
        <%= @project.owner.last_name %>
      </li>
    <% end %>
  </ul>

  <hr>
  <h5>Development Phases</h5>
  <ul class="list-unstyled user-friends-count">
    <li>
      <span><%= @project.customers.count %></span>
      Users
    </li>
    <li>
      <span><%= @project.phase_total %></span>
      Phases
    </li>
  </ul>

  <% if @project.is_owner(current_user) %>
    <button type="button" class="btn btn-success btn-block text-left">
      Project Owner
      <i class="fa-check pull-right"></i>
    </button>
  <% elsif @project.is_customer(current_user) %>
    <button type="button" class="btn btn-success btn-block text-left">
      Project Member
      <i class="fa-check pull-right"></i>
    </button>
  <% end %>

</div>