<script>
  function open_task_action(task_id) {
      var open_task = $('.open_task_action');
      open_task.removeClass('open_task_action');
      open_task.hide('slide');
      var this_task = $('#task_' + task_id);
      this_task.addClass('open_task_action');
      this_task.show('slide');

      return false;
  }
</script>

<div id="rootwizard" class="form-wizard">

  <!-- Sprint Tab Numbers -->
  <ul id="sprint-tabs" class="tabs">
    <%= render 'invoices/sprint_tabs', sprints: project.sprints %>
  </ul>

  <div id="sprint_gauge_container" class="progress-indicator"
       style="width: 0%;">
    <span></span>
  </div>

  <script>
      $('#sprint_gauge_container').animate({
          width: '<%= ApplicationHelper.sprint_percent(project) %>%'
      }, {duration: 1000});
  </script>

  <div id="task-list" style="margin-top:0px;" class="tab-content">
    <% #TODO:Replace count with sprint in loop below %>

    <% project.sprints.each do |sprint| %>

      <% if sprint == project.current_sprint %>

        <div class="invoice-tab active" id="invoice_tab_<%= sprint.sprint.to_s %>" style="">
          <div class="current_invoice_panel" id="invoice_panel_<%= sprint.sprint.to_s %>_container">
            <%= render 'invoices/invoice_panel', invoice: sprint %>
          </div>
        </div>

      <% else %>

        <div class="invoice-tab" id="invoice_tab_<%= sprint.sprint.to_s %>" style="display:none">
          <div id="invoice_panel_<%= sprint.sprint.to_s %>_container">
          </div>
        </div>

      <% end %>

    <% end %>

  </div>

  <script>
      $('#task-list').popover({
          title: "Select a Task",
          content: "Select a Current Task you are currently working on. Notes, Git Commits and Events will be assigned to the task.",
          html: true,
          placement: 'left',
          trigger: 'manual'
      });
  </script>

</div>