<% @timeline_modals = true %>
<ul class="cbp_tmtimeline">

  <% if notes.empty? %>
    <li>
      <time class="cbp_tmtime" datetime="2014-12-06T18:30">
        <span class="large">Now</span></time>

      <div class="cbp_tmicon timeline-bg-gray">
        <i class="fas fa-sticky-note"></i>
      </div>

      <div class="cbp_tmlabel empty">
        <span>No Activity</span>
      </div>
    </li>
  <% else %>

    <% notes.each do |note| %>

      <li>
        <time class="cbp_tmtime" datetime="2014-12-06T03:45">
          <span><%= note.created_at.strftime("%H:%M") %></span>

          <% if note.created_at == Date.today %>
            <span>Today</span>
          <% elsif note.created_at == Date.yesterday %>
            <span>Yesterday</span>
          <% else %>
            <span><%= note.created_at.strftime("%d %b. %Y") %></span>
          <% end %>
        </time>


        <% if note.note_type == 'note' %>
          <div class="cbp_tmicon timeline-bg-success">
            <i class="fas fa-sticky-note"></i>
          </div>
          <div class="cbp_tmlabel">
            <h2><a href="#">
              <%= note.author.first_name %>
              <%= note.author.last_name %>
            </a>
              <span>posted a Note
                <% unless note.invoice.nil? %>
                <span id="timeline_alert" class="alert alert-success">
                  Sprint <%= note.invoice.sprint.to_s %>
                </span>
              <% end %>
              </span>
            </h2>
            <p><%= note.content %></p>
            <%= render 'notes/note_meta', note: note, current_user: current_user %>
          </div>
        <% elsif note.note_type == 'demo' %>
          <div class="cbp_tmicon timeline-bg-red">
            <i class="fa-binoculars"></i>
          </div>
          <div class="cbp_tmlabel">
            <h2><a href="#">
              <%= note.author.first_name %>
              <%= note.author.last_name %>
            </a>
              <span>posted a Demo of <%= note.content %>
                <% unless note.invoice.nil? %>
                <span id="timeline_alert" class="alert alert-success">
                  Sprint <%= note.invoice.sprint.to_s %>
                </span>
              <% end %>
              </span>
            </h2>
            <div class="row">
              <div class="col-xs-5">
                <a href="#">
                  <img src="<%= note.image.url %>" class="img-responsive img-rounded full-width">
                </a><br>
                <%= render 'notes/note_meta', note: note, current_user: current_user %>
              </div>
            </div>
          </div>
        <% elsif note.note_type == 'project_update' %>

          <% if note.content == 'Payment Requested' %>
            <div class="cbp_tmicon timeline-bg-success">
              <i class="fas fa-dollar-sign"></i>
            </div>
          <% else %>
            <div class="cbp_tmicon timeline-bg-warning">
              <i class="fas fa-sticky-note"></i>
            </div>
          <% end %>

          <div class="cbp_tmlabel">
            <h2><a href="#">
              <%= note.author.first_name %>
              <%= note.author.last_name %>
            </a>
              <span>posted a Project Update
                <% unless note.invoice.nil? %>
                <span id="timeline_alert" class="alert alert-success">
                  Sprint <%= note.invoice.sprint.to_s %>
                </span>
              <% end %>
              </span>
            </h2>
            <p><%= note.content %></p>
            <%= render 'notes/note_meta', note: note, current_user: current_user %>
          </div>
        <% elsif note.note_type == 'commit' %>

          <div class="cbp_tmicon timeline-bg-danger">
            <i class="fas fa-code-branch"></i>
          </div>
          <div class="cbp_tmlabel">
            <h2><a href="#">
              <%= note.author.first_name %>
              <%= note.author.last_name %>
            </a>
              <span>Committed Code
                <% unless note.invoice.nil? %>
                <span id="timeline_alert" class="alert alert-success">
                  Sprint <%= note.invoice.sprint.to_s %>
                </span>
              <% end %>
              </span>
            </h2>
            <p><%= note.content.html_safe %></p>
            <%= render 'notes/note_meta', note: note, current_user: current_user %>
          </div>
        <% else %>
          <div class="cbp_tmicon timeline-bg-success">
            <i class="fas fa-sticky-note"></i>
          </div>
          <div class="cbp_tmlabel">
            <h2><a href="#">
              <%= note.author.first_name %>
              <%= note.author.last_name %>
            </a>
              <span>posted a note
                <% unless note.invoice.nil? %>
                <span id="timeline_alert" class="alert alert-success">
                  Sprint <%= note.invoice.sprint.to_s %>
                </span>
              <% end %>
              </span>
            </h2>
            <p><%= note.content %></p>
            <%= render 'notes/note_meta', note: note, current_user: current_user %>
          </div>
        <% end %>

      </li>

    <% end %>
  <% end %>
</ul>
