<ul class="cbp_tmtimeline">

  <% if @project.notes.empty? %>
    <li>
      <time class="cbp_tmtime" datetime="2014-12-06T18:30"><span class="hidden">06/12/2014</span>
        <span class="large">Now</span></time>

      <div class="cbp_tmicon timeline-bg-gray">
        <i class="fa-user"></i>
      </div>

      <div class="cbp_tmlabel empty">
        <span>No Activity</span>
      </div>
    </li>
  <% else %>

    <% @project.notes do |note| %>

      <li>
        <time class="cbp_tmtime" datetime="2014-12-06T03:45">
          <span><%= note.created_at.strftime("%H:%M") %></span>
          <% if note.created_at == Date.today %>
            <span>Today</span>
          <% else
               if note.created_at == Date.yesterday %>
              <span>Yesterday</span>
            <% else %>
              <span><<%= note.created_at.strftime("%d %b. %Y") %>/span>
            <% end %>
            </time>
          <% end %>

          <div class="cbp_tmicon timeline-bg-success">
            <i class="fa-paper-plane-o"></i>
          </div>

          <div class="cbp_tmlabel">
            <h2><a href="#">
              <%= note.author.first_name %>
              <%= note.author.last_name %>
            </a>
              <span>posted a note</span>
            </h2>
            <p><%= note.content %></p>
          </div>
          </li>

    <% end %>
  <% end %>
</ul>
