<% @timeline_modals = true %>

<!--TODO:Change default query if notes.empty? - Instead display Events which should never be empty -->

<div class="timeline_query alert alert-default">
  <span>
  <% if !defined? sprint_query %>
    <% sprint_query = project.sprint_current %>
      <%= link_to 'All', note_query_path(project.id, 'all', 'all'), class: 'btn btn-sm btn-success', remote: true %>
  <% else %>
    <% if sprint_query == 'all' %>
      <%= link_to 'All', note_query_path(project.id, 'all', 'all'), class: 'btn btn-sm btn-success disabled', remote: true %>
    <% else %>
      <%= link_to 'All', note_query_path(project.id, 'all', 'all'), class: 'btn btn-sm btn-success', remote: true %>
    <% end %>
  <% end %>
    </span>

  <% 1.upto(project.sprint_total) do |sprint| %>
    <sprint>
      <% if sprint.to_f == sprint_query.to_f %>
        <%= link_to 'Sprint ' + sprint.to_s, note_query_path(project.id, sprint, 'all'), class: 'btn btn-sm btn-success disabled', remote: true %>
      <% else %>
        <%= link_to 'Sprint ' + sprint.to_s, note_query_path(project.id, sprint, 'all'), class: 'btn btn-sm btn-success', remote: true %>
      <% end %>
    </sprint>
  <% end %>
  <br>
  <%
    if defined? query
      logger.debug("Timeline Query: " + query)
    end
  %>
  <% Note.note_types.each do |type| %>
    <span>
      <% if defined? query %>
        <% if ApplicationHelper.name_pretty(query) == ApplicationHelper.name_pretty(type) %>
          <%= link_to ApplicationHelper.name_pretty(type), note_query_path(project.id, sprint_query, type), class: 'btn btn-sm btn-success disabled', remote: true %>
        <% else %>
          <%= link_to ApplicationHelper.name_pretty(type), note_query_path(project.id, sprint_query, type), class: 'btn btn-sm btn-success', remote: true %>
        <% end %>
      <% else %>
        <%= link_to ApplicationHelper.name_pretty(type), note_query_path(project.id, sprint_query, type), class: 'btn btn-sm btn-success', remote: true %>
      <% end %>
    </span>
  <% end %>
</div>

<ul id="timeline_container" class="cbp_tmtimeline">

  <% if notes.empty? %>
    <li>
      <time class="cbp_tmtime" datetime="2014-12-06T18:30">
        <span class="large">Now</span></time>
      <div class="cbp_tmicon timeline-bg-gray">
        <i class="fas fa-sticky-note"></i>
      </div>
      <div class="cbp_tmlabel empty">
        <span>No Activity To Display</span>
      </div>
    </li>
  <% else %>

    <% notes.includes(:discussions, :task, :author).each_with_index do |note, count| %>

      <%
        if count == 0
          timeline_class = 'first-timeline-post'
        else
          timeline_class = ''
        end
      %>

      <li class="<%= timeline_class %>" id="timeline_note_<%= note.id.to_s %>">
        <time class="cbp_tmtime" datetime="2014-12-06T03:45">
          <span><%= note.created_at.strftime("%H:%M") %></span>

          <% if note.created_at == Date.today %>
            <span>Today</span>
          <% elsif note.created_at == Date.yesterday %>
            <span>Yesterday</span>
          <% else %>
            <span><%= note.created_at.strftime("%d %b. %Y") %></span>
          <% end %>
        </time>

        <% if note.note_type == 'note' %>
          <div class="cbp_tmicon timeline-bg-info">
            <i class="fas fa-sticky-note"></i>
          </div>
          <div class="cbp_tmlabel">
            <%= render 'notes/note_header', note: note %>
            <h3><%= note.content %></h3>
            <%= render 'notes/note_meta', note: note, current_user: current_user %>
          </div>

        <% elsif note.note_type == 'demo' %>
          <div class="cbp_tmicon timeline-bg-red">
            <i class="fa-binoculars"></i>
          </div>
          <div class="cbp_tmlabel">
            <%= render 'notes/note_header', note: note %>
            <div class="row">
              <div class="col-xs-5">
                <a href="#">
                  <img src="<%= note.image.url %>" class="img-responsive img-rounded full-width">
                </a><br>
                <%= render 'notes/note_meta', note: note, current_user: current_user %>
              </div>
            </div>
          </div>

        <% elsif note.note_type == 'project_update' %>
          <div class="cbp_tmicon timeline-bg-warning">
            <i class="far fa-clock"></i>
          </div>
          <div class="cbp_tmlabel">
            <%= render 'notes/note_header', note: note %>
            <h3><%= note.content %></h3>
            <%= render 'notes/note_meta', note: note, current_user: current_user %>
          </div>

        <% elsif note.note_type == 'event' %>
          <div class="cbp_tmicon timeline-bg-warning">
            <i class="far fa-clock"></i>
          </div>
          <div class="cbp_tmlabel">
            <%= render 'notes/note_header', note: note %>
            <h3><%= note.content %></h3>
            <%= render 'notes/note_meta', note: note, current_user: current_user %>
          </div>

        <% elsif note.note_type == 'payment' %>
          <div class="cbp_tmicon timeline-bg-success">
            <i class="fas fa-dollar-sign"></i>
          </div>
          <div class="cbp_tmlabel">
            <%= render 'notes/note_header', note: note %>
            <h3><%= note.content %></h3>
            <%= render 'notes/note_meta', note: note, current_user: current_user %>
          </div>

        <% elsif note.note_type == 'payment_request' %>
          <div class="cbp_tmicon timeline-bg-success">
            <i style="color:white !important" class="fas fa-hand-holding-usd white-icon"></i>
          </div>
          <div class="cbp_tmlabel">
            <%= render 'notes/note_header', note: note %>
            <h3><%= note.content %></h3>
            <%= render 'notes/note_meta', note: note, current_user: current_user %>
          </div>

        <% elsif note.note_type == 'project_update' %>
          <div class="cbp_tmicon timeline-bg-warning">
            <i class="far fa-clock"></i>
          </div>
          <div class="cbp_tmlabel">
            <%= render 'notes/note_header', note: note %>
            <h3><%= note.content %></h3>
            <%= render 'notes/note_meta', note: note, current_user: current_user %>
          </div>

        <% elsif note.note_type == 'commit' %>
          <div class="cbp_tmicon timeline-bg-danger">
            <i class="fas fa-code-branch"></i>
          </div>
          <div class="cbp_tmlabel">
            <%= render 'notes/note_header', note: note %>
            <% lines = note.content.lines('<br>') %>
            <% if lines.count > 10 %>
              <p>
                <% lines.each_with_index do |line, index| %>
                  <% if index == 10 %>
                    <a href="#" onclick="$('#note_hidden_row_<%= note.id.to_s %>').toggle('slide'); return false;">
                      <small>(More...)</small>
                    </a>
                    <p style="display:none" id="note_hidden_row_<%= note.id.to_s %>">
                      <%= line.html_safe %>
                  <% elsif index == lines.count %>
                    <%= line.html_safe %>
                    </p>
                  <% else %>
                    <%= line.html_safe %>
                  <% end %>
                <% end %>
                </p>
            <% else %>
              <h4><%= note.content.html_safe %></h4>
            <% end %>
            <%= render 'notes/note_meta', note: note, current_user: current_user %>
          </div>

        <% else %>
          <div class="cbp_tmicon timeline-bg-success">
            <i class="fas fa-sticky-note"></i>
          </div>
          <div class="cbp_tmlabel">
            <%= render 'notes/note_header', note: note %>
            <h4><%= note.content.html_safe %></h4>
            <%= render 'notes/note_meta', note: note, current_user: current_user %>
          </div>
        <% end %>
      </li>
    <% end %>
    <li>
      <time class="cbp_tmtime" datetime="2014-12-06T18:30">
        <span class="large"></span></time>
      <div class="cbp_tmicon timeline-bg-gray">
        <i class="fas fa-sticky-note"></i>
      </div>
      <div class="cbp_tmlabel empty">
        <span>Beginning of Time</span>
      </div>
    </li>
  <% end %>
</ul>
