<% if notice != '' && notice != nil %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    Owner Projects
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="list-group">

          <% @owner_projects.each do |project| %>
            <!-- Add active to href class if needed -->
            <a href="<%= link_to 'Show', project %>" class="list-group-item">
              <h4 class="list-group-item-heading"><%= project.name %></h4>
              <p class="list-group-item-text">
                <%= project.description %> <br>
                <small><%= project.language %> /
                  <%= project.phase_current %> of <%= project.phase_total %> /
                  <%= project.demo_url %>
                </small>
                <br>
                <%= link_to 'Edit', edit_project_path(project) %>
                <%= link_to 'Destroy',
                            project,
                            method: :delete,
                            data: {confirm: 'Are you sure you want to delete project?'} %>
              </p>
            </a>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<%= link_to 'New Project', new_project_path %>

<div class="panel panel-default">
  <div class="panel-heading">
    Customer Projects
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="list-group">

          <% @customer_projects.each do |project| %>
            <!-- Add active to href class if needed -->
            <a href="<%= link_to 'Show', project %>" class="list-group-item">
              <h4 class="list-group-item-heading"><%= project.name %></h4>
              <p class="list-group-item-text">
                <%= project.description %> <br>
                <small><%= project.language %> /
                  <%= project.phase_current %> of <%= project.phase_total %> /
                  <%= project.demo_url %>
                </small>
              </p>
            </a>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
