<br/>

<div class="row">

  <div class="col-md-12">

    <div style="background-color:#eee" class="tab-content">
      <div class="tab-pane active" id="summary">
        <div>
          <section class="profile-env">

            <div class="row">
              <div class="col-sm-3">
                <%= render 'projects/project_image' %>
              </div>
              <div class="col-sm-9">
                <%= render 'projects/widgets' %>
                <%= render 'projects/sprint_meter' %>

                <div id="home_timeline_container">
                  <%= render 'projects/timeline', notes: @notes %>
                </div>

              </div>
            </div>

          </section>

        </div>
      </div>

      <div class="tab-pane" id="timeline">
        <div id="timeline_notes">

          <% if @project.is_owner?(current_user) %>
            <a href="javascript:;" onclick="jQuery('#create_note_modal').modal('show');" class="btn btn-success btn-single btn-sm">
              Create Note
            </a>
            <hr>
          <% end %>

          <%= render 'projects/note_full_timeline', local_note: @project.notes.order('created_at DESC') %>
        </div>
      </div>

      <div class="tab-pane" id="invoices">
        <%= render 'projects/invoices' %>
      </div>

      <div class="tab-pane" id="customers">
        <div id="customers_container">
          <%= render 'projects/customers', project: @project %>
        </div>
      </div>

      <div class="tab-pane" id="current_sprint">
        <%= render 'projects/view_current_sprint' %>
      </div>

      <div class="tab-pane" id="commits">
      </div>

      <div class="tab-pane" id="builds">

      </div>
      <div class="tab-pane" id="readme">
        <%= @github_readme_parsed.html_safe %>
      </div>

      <div class="tab-pane" id="settings">
        <div class="panel panel-default">
          <div class="panel-heading">
            Project Settings
          </div>
          <div class="panel-body">
            <% unless @project.is_owner?(current_user) %>
              <%= link_to '<i class="linecons-trash"></i> Leave Project'.html_safe, leave_project_path(@project.id, current_user) %>
            <% end %>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>




<%#= render 'projects/tabs' %>