<br/>

<div class="row">

  <div class="col-md-12">

    <div style="background-color:#eee" class="tab-content">
      <div class="tab-pane active" id="summary">
        <div>
          <section class="profile-env">

            <div class="row">
              <div class="col-sm-3">
                <%= render 'projects/project_image' %>
              </div>
              <div class="col-sm-9">
                <%= render 'projects/sprint_meter' %>
              </div>
            </div>

          </section>

          <div class="row">
            <div class="col-md-12">
              <%= render 'projects/timeline' %>
            </div>
          </div>

        </div>
      </div>

      <div class="tab-pane" id="timeline">
        <a href="javascript:;" onclick="jQuery('#create_note_modal').modal('show');" class="btn btn-success btn-single btn-sm">
          Create Note / Demo
        </a>
        <div id="timeline_notes">
          <%= render 'projects/note_full_timeline', local_note: @project.notes %>
        </div>
      </div>

      <div class="tab-pane" id="invoices">
        <%= render 'projects/invoices' %>
      </div>

      <div class="tab-pane" id="customers">
        <%= render 'projects/customers' %>
      </div>

      <div class="tab-pane" id="commits">
      </div>

      <div class="tab-pane" id="builds">

      </div>
      <div class="tab-pane" id="readme">
        <%= @github_readme_parsed.html_safe %>
      </div>
    </div>

  </div>
</div>




<%#= render 'projects/tabs' %>