<br/>

<div class="row">

  <div class="col-md-12">

    <div style="background-color:#eee" class="tab-content">
      <div class="tab-pane active" id="summary">
        <div>
          <section class="profile-env">

            <div class="row">
              <div class="col-sm-xs-12 col-sm-3">
                <%= render 'projects/project_image', project: @project %>
              </div>
              <div class="col-xs-12 col-sm-9">
                <%= render 'widgets/project_widgets', project: @project %>
                <%= render 'sprints/bar_graph', project: @project %>
                <%= render 'sprints/meter', project: @project %>
              </div>
              <div id="home_timeline_container" class="col-xs-12 col-md-8 pull-right">
                <%= render 'notes/notes', notes: @project.sprint_notes, project: @project %>
              </div>
            </div>

          </section>

        </div>
      </div>

      <div class="tab-pane" id="readme">
        <div class="panel panel-default panel-border">
          <div class="panel-heading">
            <%= @project.readme_file %>
          </div>
          <div class="panel-body">
            <p></p>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="settings">
        <div class="panel panel-default">
          <div class="panel-heading">
            Project Settings
          </div>
          <div class="panel-body">
            <% unless @project.owner?(current_user) %>
              <% if current_user.role(@project) == :customer %>
                <%= link_to customer_leave_project_path(@project.id) do %>
                  <i class="linecons-trash"></i> Leave Project
                <% end %>
              <% else %>
                <%= link_to developer_leave_project_path(@project.id) do %>
                  <i class="linecons-trash"></i> Leave Project
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>