<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @invoice_item.description %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @invoice_item.hours %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @invoice_item.rate %>
</p>

<p>
  <strong>Item type:</strong>
  <%= @invoice_item.item_type %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @invoice_item.complete %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @invoice_item.belongs_to %>
</p>

<%= link_to 'Edit', edit_invoice_item_path(@invoice_item) %> |
<%= link_to 'Back', invoice_items_path %>
