<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :payment_type %>
    <%= form.number_field :payment_type %>
  </div>

  <div class="field">
    <%= form.label :payment_identifier %>
    <%= form.text_field :payment_identifier %>
  </div>

  <div class="field">
    <%= form.label :payment_note %>
    <%= form.text_field :payment_note %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :belongs_to %>
    <%= form.text_field :belongs_to %>
  </div>

  <div class="field">
    <%= form.label :belongs_to %>
    <%= form.text_field :belongs_to %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
