<div class="panel panel-default">
  <div class="panel-heading">
    Payments
  </div>
  <div class="panel-body">
    <div class="row">

      <div class="col-xs-12 col-md-6">
        <ul class="settings_sprint_balance list-group list-group-minimal">
          <h2>Sprint Balances</h2>
          <% unless project.sprints.empty? %>
            <% project.sprints.includes(:project).each do |sprint| %>
              <% if sprint.balance < 0 %>
                <li class="list-group-item">
                      <span>Sprint <%= sprint.sprint.to_s %>
                        <% if sprint.current? %>
                          <strong>(current)</strong>
                        <% end %>
                      </span>
                  <span class="badge badge-roundless badge-danger"><%= sprint.balance.money %></span>
                </li>
              <% end %>
            <% end %>
            <li class="list-group-item">
              <span><strong>Total:</strong> </span>
              <% if project.balance < 0 %>
                <span class="badge badge-roundless badge-danger"><%= project.balance.money %></span>
              <% else %>
                <span class="badge badge-roundless badge-success">+<%= project.balance.money %></span>
              <% end %>
            </li>
          <% else %>
            <li class="list-group-item">
              (None)
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-xs-12 col-md-6">
        <h2>Payment Requests</h2>
        <% unless project.payment_requests.empty? %>
          <% project.payment_requests.each do |sprint| %>
            <div id="request_payment_notification_sprint_<%= sprint.id.to_s %>" class="alert alert-danger">
              <div style="padding-right:15px">
                Payment Requested For Sprint <%= sprint.sprint.to_s %>.
                <% if sprint == 0 %>
                  Balance (None)
                  <% elsifif sprint.balance > 0 %>
                  Balance: +<%= sprint.balance.money %>
                <% else %>
                  Balance: <%= sprint.balance.money %>
                <% end %>
                <% if project.owner?(current_user) %>
                  <% payment_request_btn = '<span style="" class="pull-right"><small><i class="fas fa-ban"></i> Cancel</small></span>' %>
                  <%= link_to payment_request_btn.html_safe,
                              cancel_payment_request_path(sprint.id),
                              remote: true %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <span>(None)</span>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <% if project.owner.stripe_account_id.nil? %>
          <div class="alert alert-danger">
            <i style="padding-left: 6px" class="fab fa-2x fa-stripe pull-right"></i>
            <% if project.owner? %>
              To receive payments, <%= link_to 'connect Jeweler with Stripe', root_url + 'users/auth/stripe_connect' %>
            <% else %>
              To receive payments, the project owner must connect his Stripe account. Notify project owner.
            <% end %>
          </div>
        <% else %>
          <% if project.owner? %>
            <%#= render 'sprints/admin_payment_form', project: project, display_balances: false #TODO:Add a setting to allow admins to add payments %>
            <%= render 'sprints/fee_notice' %>
          <% else %>
            <%= render 'payments/form', project: project, display_balances: false %>
          <% end %>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-6">
        <h2>Payments</h2>
        <% unless project.payments.empty? %>
          <% project.payments.each do |payment| %>
            <div class="alert alert-default">
              <div style="padding-right:15px">
                <i class="fas fa-dollar-sign pull-right"></i>
                <strong>Payment: </strong> Sprint <%= payment.sprint.sprint.to_s %><br>
                <%= payment.user.full_name %><br>

                <%= payment.amount.money %>
                <% unless payment.payment_type.nil? %>
                  <strong><%= payment.payment_type.to_s %></strong>
                <% end %>

                <% unless payment.payment_note.nil? %>
                  <italic><%= payment.payment_note.to_s %></italic>
                  <br>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <span>(None)</span>
        <% end %>
      </div>
    </div>

  </div>
</div>