<% if project.owner?(current_user) %>
  <a href="<%= project_users_path(project) %>" class="btn btn-success btn-block text-left">
    Project Owner <i class="fa-check pull-right"></i>
  </a>

  <%= link_to new_project_note_path(project.id), class: 'btn btn-success btn-block text-left', remote: true do %>
    Create Sprint <%= project.sprint_current.to_s %> Note<i class="fas fa-sticky-note pull-right"></i>
  <% end %>

  <% if project.current_task.nil? %>
    <div class="alert alert-danger">
      Please <a href="#" id="select-current-task-btn"><strong>Select a Current Task.</strong></a>
      <i class="fa-lg fa-check pull-right"></i>
    </div>
    <script>
        $('#select-current-task-btn').click(function () {
            $('#task-list').popover('toggle');
        });
    </script>
  <% end %>

  <% unless project.payment_requests.empty? %>
    <div class="alert alert-danger">
      <i class="fas fa-2x fa-dollar-sign pull-right"></i>
      Payment
      requested. <%= link_to '<strong>View Payment Requests</strong>'.html_safe, project_payments_path(project) %>
    </div>
  <% end %>

  <% if current_user.stripe_account_id.nil? %>
    <div class="alert alert-danger">
      <i style="padding-left: 6px" class="fab fa-2x fa-stripe pull-right"></i>
      To receive payments, you
      must <%= link_to 'connect with Stripe'.html_safe, root_url + 'users/auth/stripe_connect', class: '' %>
    </div>
  <% end %>

  <% gho = GitHubOauth.new(project) %>
  <% if !project.github_installed? %>
    <div class="alert alert-danger">
      <i class="fab fa-2x fa-github pull-right"></i>
      Please Connect Jewler with GitHub, <%= link_to 'Here', authorize_github_path %>
    </div>
  <% elsif !gho.webhook_installed? %>
    <div class="alert alert-danger">
      <i class="fab fa-2x fa-github pull-right"></i>
      Install GitHub Webhook for Commit Events <%= link_to 'Here', install_github_webhook_path(project.id), remote: true %>.
    </div>
  <% end %>

<% elsif project.customer?(current_user) %>

  <button type="button" class="btn btn-success btn-block text-left">
    Project Member <i class="fa-check pull-right"></i>
  </button>

  <% unless project.payment_requests.empty? %>
    <% project.payment_requests.each do |sprint| %>
      <div class="alert alert-danger">
        Payment Requested For Sprint <%= sprint.sprint.to_s %>
        . <%= link_to '<strong>Make Payment</strong>'.html_safe, project_payments_path(sprint.project) %>
      </div>
    <% end %>
  <% end %>

<% end %>