<div class="settings-pane">

  <a href="#" data-toggle="settings-pane" data-animate="true">
    &times;
  </a>

  <div class="settings-pane-inner">

    <div class="row">

      <div class="col-md-2">

        <div class="user-info">

          <div class="user-image">
            <% if project.owner.image.url.nil? %>
              <img src="<%= image_path 'user-2.png' %>" class="img-responsive img-circle"/>
            <% else %>
              <img src="<%= image_path project.owner.image.url %>" class="img-responsive img-circle"/>
            <% end %>
          </div>

          <div class="user-details">

            <h3>
              <a href="<%= root_url %>"><%= project.owner.first_name %>
                <% project.owner.last_name %></a>

              <span class="user-status is-online"></span>
            </h3>

            <p class="user-title">Project Owner</p>

            <div class="user-links">
              <%# TODO: Place a PM project owner button here (when we write messaging feature eventually)  %>
            </div>

          </div>

        </div>
        <div class="row">
          <% if project.owner? %>
              <h4>Add Payment</h4>
            <%= render 'payments/admin_form', project: project, display_balances: false %>
          <% else %>
              <h4>Make Payment</h4>
            <%= render 'payments/form', project: project, display_balances: false %>
          <% end %>
        </div>

      </div>

      <div class="col-md-2 text-left">

        <div class="left-sep">
          <h4>
            <span>Sprint Balances</span>
          </h4>

          <div>
            <ul class="settings_sprint_balance list-group list-group-minimal">
              <% unless project.sprints.empty? %>
                <% project.sprints.each do |sprint| %>
                  <% if sprint.balance > 0 %>
                    <li class="list-group-item">
                      <span>
                          Sprint <%= sprint.sprint.to_s %>
                        <% if sprint.current? %>
                            <strong>(current)</strong>
                          <% end %>
                      </span>
                      <span class="badge badge-roundless badge-danger">$<%= sprint.balance.to_s %></span>
                    </li>
                  <% end %>
                <% end %>
                <li class="list-group-item">
                  <span><strong>Total:</strong> </span>
                  <% if project.balance > 0 %>
                    <span class="badge badge-roundless badge-success">$+<%= project.balance.to_s %></span>
                  <% else %>
                    <span class="badge badge-roundless badge-danger">$-<%= project.balance.to_s %></span>
                  <% end %>
                </li>
              <% else %>
                <li class="list-group-item">
                  (None)
                </li>
              <% end %>
            </ul>
          </div>

        </div>

      </div>

      <div class="col-md-4 text-left settings_scroll_column">

        <div class="left-sep">
          <h4>
            <span>Project Payments</span>
          </h4>

          <div>
            <% unless project.payments.empty? %>
              <% project.payments.each do |payment| %>
                <div class="alert alert-success">
                  <div style="padding-right:15px">
                    <i class="fas fa-dollar-sign pull-right"></i>
                    <strong>Payment: </strong>
                    Sprint <%= payment.sprint.sprint.to_s %> <%= payment.user.full_name %>
                    - $<%= payment.amount.to_s %> (<%= payment.payment_type.to_s %>) - <%= payment.payment_note.to_s %>
                  </div>
                </div>
              <% end %>
            <% else %>
              <span>(None)</span>
            <% end %>
          </div>

        </div>

      </div>

      <div class="col-md-4 text-left settings_scroll_column">

        <div class="left-sep">
          <h4>
            <span>Payment Requests</span>
          </h4>

          <div>
            <% unless project.payment_requests.empty? %>
              <% project.payment_requests.each do |sprint| %>
                <div id="request_payment_notification_sprint_<%= sprint.id.to_s %>" class="alert alert-danger">
                  <div style="color: white; padding-right:15px">
                    Payment Requested For Sprint <%= sprint.sprint.to_s %>.
                    <% if sprint == 0 %>
                      Balance (None)
                    <% elsifif sprint.balance > 0 %>
                      Balance: $+<% sprint.balance.to_s %>
                      <% else %>
                      Balance: $-<%= sprint.balance.to_s %>
                      <% end %>
                    <% if project.owner?(user) %>
                      <% payment_request_btn = '<span style="color:white" class="pull-right"><small><i class="fas fa-ban"></i> Cancel</small></span>' %>
                      <%= link_to payment_request_btn.html_safe,
                                  cancel_payment_request_path(sprint.id),
                                  remote: true %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% else %>
              <span>(None)</span>
            <% end %>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
