<div class="settings-pane">

  <a href="#" data-toggle="settings-pane" data-animate="true">
    &times;
  </a>

  <div class="settings-pane-inner">

    <div class="row">

      <div class="col-md-2 col-lg-offset-2">

        <div class="user-info">

          <div class="user-image">
            <a href="<%= root_path %>">
              <% if @project.owner.image.url.nil? %>
                <img src="<%= image_path 'user-2.png' %>" class="img-responsive img-circle"/>
              <% else %>
                <img src="<%= image_path @project.owner.image.url %>" class="img-responsive img-circle"/>
              <% end %>
            </a>
          </div>

          <div class="user-details">

            <h3>
              <a href="<%= root_url %>"><%= @project.owner.first_name %>
                <% @project.owner.last_name %></a>

              <!-- Available statuses: is-online, is-idle, is-busy and is-offline -->
              <span class="user-status is-online"></span>
            </h3>

            <p class="user-title">Project Owner</p>

            <div class="user-links">
              <% if @project.is_customer(current_user) %>
                <a href="<%= open_payment_path(@project.id) %>" class="btn btn-success">Make Payment</a>
              <% end %>
            </div>

          </div>

        </div>

      </div>

      <div class="col-md-10 col-lg-7 col-lg-offset-1 text-left">

        <div class="left-sep">
          <h4>
            <span>Payment Requests</span>
          </h4>

          <div>
            <% unless @project.payment_requests.empty? %>
              <% @project.payment_requests.each do |invoice| %>
                <div id="request_payment_notification_sprint_<%= invoice.id.to_s %>" class="alert alert-danger">
                  <div style="color: white; padding-right:15px">
                    <i class="fas fa-dollar-sign pull-left"></i>
                    <%#= link_to '<i class="fas fa-ban pull-left"></i>'.html_safe,
                        cancel_request_payment_path(invoice.id),
                        remote: true %>
                  </div>
                  <div style="color:white; margin-left:15px">
                    <strong>
                      Payment Requested For Sprint <%= invoice.sprint.to_s %>
                      <%= link_to '<span style="color:white" class="pull-right"><small><i class="fas fa-ban"></i> Cancel</small></span>'.html_safe,
                                  cancel_request_payment_path(invoice.id),
                                  remote: true %>
                    </strong>
                  </div>
                </div>
              <% end %>
            <% else %>
              <span>(None)</span>
            <% end %>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
