<!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
<!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
<!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
<div id="sidebar" class="sidebar-menu toggle-others fixed">

  <div class="sidebar-menu-inner">

    <header class="logo-env">

      <div class="logo">
        <a href="<%= root_url %>" class="logo-expanded">
          <img src="<%= image_path 'jeweler-logo-full.png' %>" width="200" alt=""/>
        </a>
        <a href="<%= root_url %>" class="logo-collapsed">
          <img src="<%= image_path 'jeweler-logo-mini.png' %>" width="40" alt=""/>
        </a>
      </div>

      <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
      <div class="mobile-menu-toggle visible-xs visible-sm visible-md">
        <a href="#" data-toggle="user-info-menu">
          <!--<i class="fa-bell-o"></i>-->
          <!-- TODO: Handle Sidebar Badge Number (Set Notifications Count Here also)-->
          <!--<span class="badge badge-success">7</span>-->
        </a>

        <a href="#" data-toggle="mobile-menu">
          <i class="fa-bars"></i>
        </a>
      </div>

      <div class="settings-icon">
        <% if ApplicationHelper.display_project_nav?(controller_name, action_name) %>
          <% if defined? @project and !@project.nil? %>
            <a href="<%= project_payments_path(@project.id) %>">
              <i class="fas fa-hand-holding-usd white-icon"></i>
              <% payment_requests = @project.payment_requests %>
              <% unless payment_requests.empty? %>
                <span class="badge badge-secondary pull-right"><%= payment_requests.count.to_s %></span>
              <% end %>
            </a>
          <% end %>
        <% end %>
      </div>

    </header>

    <section class="sidebar-user-info">
      <div class="sidebar-user-info-inner">
        <a href="<%= root_path %>" class="user-profile">
          <% unless current_user.image.url.nil? %>
            <img src="<%= image_path current_user.image.url %>" width="60" height="60" class="img-circle img-corona" alt="user-pic"/>
          <% else %>
            <img src="<%= image_path 'user-2.png' %>" width="60" height="60" class="img-circle img-corona" alt="user-pic"/>
          <% end %>
          <span>
            <strong><%= current_user.first_name %> <%= current_user.last_name %></strong> <%= current_user.company %>
          </span>
        </a>

        <ul class="user-links list-unstyled">
          <li>
            <a href="<%= edit_user_registration_path %>" title="Edit profile">
              <i class="linecons-user"></i>
              Edit profile
            </a>
          </li>
          <li>
            <% if ApplicationHelper.display_project_nav?(controller_name, action_name) %>
              <% if @project.is_owner?(current_user) %>
                <%= link_to '<i class="fas fa-sticky-note"></i> New Note'.html_safe,
                            create_note_modal_path(@project.id),
                            remote: true %>
              <% else %>
                <a href="#" data-toggle="settings-pane" id="payment_nav_button" data-animate="true">
                  <i class="fas fa-money-bill-alt"></i>
                  Make Payment
                </a>
              <% end %>
            <% else %>
              <a href="<%= new_project_url %>" title="New Project">
                <i class="fa-edit"></i>
                New Project
              </a>
            <% end %>
          </li>
          <li class="logout-link">
            <% if defined? @project and @project.is_owner?(current_user) %>
              <%= link_to '<i class="fas fa-cogs sidebar-icon"></i>'.html_safe, edit_project_path(@project) %>
            <% else %>
              <%= link_to('<i class="fa-power-off"></i>'.html_safe, destroy_user_session_path, method: :delete) %>
            <% end %>
          </li>
        </ul>
      </div>
    </section>


    <ul id="main-menu" class="main-menu">
      <li>
        <a href="<%= root_path %>">
          <i class="fas fa-home"></i>
          <span class="title">Home</span>
        </a>
      </li>
      <% if ApplicationHelper.display_project_nav?(controller_name, action_name) %>
        <li class="opened active">
          <a href="<%= projects_url %>">
            <i class="linecons-diamond"></i>
            <span class="title"><%= truncate(@project.name, :length => 28) %></span>
          </a>
          <ul>
            <li>
              <a href="<%= project_path(@project) %>">
                <i class="fas fa-home"></i>
                <span class="title">Home</span>
              </a>
            </li>
            <li>
              <a href="<%= project_invoices_path(@project) %>">
                <i class="fas fa-paper-plane"></i>
                <span class="title">Sprints & Invoices</span>
              </a>
            </li>
            <li>
              <a href="<%= project_project_customers_path(@project) %>">
                <i class="fas fa-user"></i>
                <span class="title">Customers</span>
              </a>
            </li>
            <li>
              <%= link_to '<i class="fas fa-money-bill-alt"></i> Payments'.html_safe, project_payments_path(@project.id) %>
            </li>
            <% if controller_name == 'projects' and action_name == 'show' %>
              <li>
                <a href="#readme" data-toggle="tab" data-animate="true">
                  <i class="fab fa-readme"></i>
                  <span class="title">Readme</span>
                </a>
              </li>
              <% unless @project.is_owner?(current_user) %>
                <li>
                  <a href="#settings" data-toggle="tab" data-animate="true">
                    <i class="fas fa-cogs"></i>
                    <span class="title">Settings</span>
                  </a>
                </li>
              <% end %>
            <% end %>
            <% if @project.is_owner?(current_user) %>
              <li>
                <a href="<%= edit_project_path(@project) %>">
                  <i class="fas fa-cogs"></i>
                  <span class="title">Settings</span>
                </a>
              </li>
            <% end %>

          </ul>
        </li>
      <% end %>


      <% if !current_user.owner_projects.empty? %>
        <li class="opened active">
          <a href="<%= projects_url %>">
            <i class="linecons-star"></i>
            <span class="title">Owner Projects</span>
          </a>
          <ul>
            <% current_user.owner_projects.each do |cp| %>
              <li>
                <div style=" white-space: nowrap;">
                  <a href="<%= project_path cp %>">
                    <i class="linecons-desktop"></i>
                    <span class="title"><%= cp.name %></span>
                  </a>
                </div>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
      <% if !current_user.customer_projects.empty? %>
        <li class="opened active">
          <a href="<%= projects_url %>">
            <i class="far fa-user"></i>
            <span class="title">Customer Projects</span>
          </a>
          <ul>
            <% current_user.customer_projects.each do |cp| %>
              <li>
                <a href="<%= project_path cp %>">
                  <i class="linecons-desktop"></i>
                  <span class="title"><%= cp.name %></span>
                </a>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>

  </div>

</div>