<!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
<!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
<!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
<div class="sidebar-menu toggle-others fixed">

  <div class="sidebar-menu-inner">

    <header class="logo-env">

      <!-- logo -->
      <div class="logo">
        <a href="#" class="logo-expanded">
          <img src="<%= image_path 'jewler-logo-full-black-alternate.png' %>" width="200" alt=""/>
        </a>

        <a href="#" class="logo-collapsed">
          <img src="<%= image_path 'jewler-logo-mini-small-black.png' %>" width="40" alt=""/>
        </a>
      </div>

      <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
      <div class="mobile-menu-toggle visible-xs">
        <a href="#" data-toggle="user-info-menu">
          <i class="fa-bell-o"></i>
          <span class="badge badge-success">7</span>
        </a>

        <a href="#" data-toggle="mobile-menu">
          <i class="fa-bars"></i>
        </a>
      </div>

      <!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
      <div class="settings-icon">
        <a href="<%= edit_user_registration_path %>" data-toggle="settings-pane" data-animate="true">
          <i class="linecons-cog"></i>
        </a>
      </div>


    </header>

    <section class="sidebar-user-info">
      <div class="sidebar-user-info-inner">
        <a href="#" class="user-profile">
          <img src="<%= image_path current_user.image.url %>" width="60" height="60" class="img-circle img-corona" alt="user-pic"/>
          <span>
              <strong><%= current_user.first_name %> <%= current_user.last_name %></strong>
            <%= current_user.tagline %>
            </span>
        </a>

        <ul class="user-links list-unstyled">
          <li>
            <a href="<%= edit_user_registration_path %>" title="Edit profile">
              <i class="linecons-user"></i>
              Edit profile
            </a>
          </li>
          <li>
            <a href="<%= new_project_url %>" title="Mailbox">
              <i class="fa-edit"></i>
              New Project
            </a>
          </li>
          <li class="logout-link">
            <%= link_to('<i class="fa-power-off"></i>'.html_safe, destroy_user_session_path, method: :delete) %>
          </li>
        </ul>
      </div>
    </section>


    <ul id="main-menu" class="main-menu">

      <% if controller_name == 'projects' %>
        <li class="opened active">
          <a href="<%= projects_url %>">
            <i class="linecons-diamond"></i>
            <span class="title"><%= @project.name %></span>
          </a>
          <ul>
            <li>
              <a href="#summary" data-toggle="tab">
                <i class="fas fa-home"></i>
                <span class="title">Home</span>
              </a>
            </li>
            <li>
              <a href="#timeline" data-toggle="tab">
                <i class="fas fa-sticky-note"></i>
                <span class="title">Notes</span>
              </a>
            </li>
            <li>
              <a href="#invoices" data-toggle="tab">
                <i class="fas fa-paper-plane"></i>
                <span class="title">Sprints & Invoices</span>
              </a>
            </li>
            <li>
              <a href="#customers" data-toggle="tab">
                <i class="fas fa-user"></i>
                <span class="title">Customers</span>
              </a>
            </li>
          </ul>
        </li>
      <% end %>


      <% if !current_user.owner_projects.empty? %>
        <li class="opened active">
          <a href="<%= projects_url %>">
            <i class="linecons-star"></i>
            <span class="title">Owner Projects</span>
          </a>
          <ul>
            <% current_user.owner_projects.each do |cp| %>
              <li>
                <div style=" white-space: nowrap;">
                  <a href="<%= project_path cp %>">
                    <i class="linecons-desktop"></i>
                    <span class="title"><%= cp.name %></span>
                  </a>
                </div>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
      <% if !current_user.customer_projects.empty? %>
        <li class="opened active">
          <a href="<%= projects_url %>">
            <i class="far fa-user"></i>
            <span class="title">Customer Projects</span>
          </a>
          <ul>
            <% current_user.customer_projects.each do |cp| %>
              <li>
                <a href="<%= project_path cp %>">
                  <i class="linecons-desktop"></i>
                  <span class="title"><%= cp.name %></span>
                </a>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>

  </div>

</div>