<nav class="hidden-sm hidden-xs navbar user-info-navbar" role="navigation">

  <ul class="user-info-menu left-links list-inline list-unstyled">

    <li class="dropdown hover-line">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa-bell-o"></i>
        <span id="notifications_count_1" class="badge badge-purple"></span>

      </a>

      <ul class="dropdown-menu notifications">
        <li class="top">
          <p class="small">
            <a href="#" class="pull-right">Mark all Read</a>
            You have <strong><span id="notifications_count_2"></span></strong> new notifications.
          </p>
        </li>

        <li>
          <ul id="notifications_top_bar" class="dropdown-menu-list list-unstyled ps-scrollbar">

            <% if controller_name == 'projects' and action_name != 'index' %>

              <% if @project.current_task.nil? %>
                <li class="active notification-success">
                  <a tabindex="0" data-container="" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="Choose a Task You are Currently Working On.">
                    <i class="fa-user"></i>

                    <span class="line">
												<strong>Choose a Task You are Currently Working on</strong>
											</span>

                    <span class="line small time">
												30 seconds ago
											</span>
                  </a>
                </li>

              <% end %>
            <% end %>

            <li class="active notification-secondary">
              <a href="#">
                <i class="fa-lock"></i>

                <span class="line">
            <strong>Privacy settings have been changed</strong>
            </span>

                <span class="line small time">
            3 hours ago
            </span>
              </a>
            </li>

            <li class="notification-primary">
              <a href="#">
                <i class="fa-thumbs-up"></i>

                <span class="line">
            <strong>Someone special liked this</strong>
            </span>

                <span class="line small time">
            2 minutes ago
            </span>
              </a>
            </li>

            <li class="notification-danger">
              <a href="#">
                <i class="fa-calendar"></i>

                <span class="line">
            John cancelled the event
            </span>

                <span class="line small time">
            9 hours ago
            </span>
              </a>
            </li>

            <li class="notification-info">
              <a href="#">
                <i class="fa-database"></i>

                <span class="line">
            The server is status is stable
            </span>

                <span class="line small time">
            yesterday at 10:30am
            </span>
              </a>
            </li>

            <li class="notification-warning">
              <a href="#">
                <i class="fa-envelope-o"></i>

                <span class="line">
            New comments waiting approval
            </span>

                <span class="line small time">
            last week
            </span>
              </a>
            </li>
          </ul>
        </li>

        <li class="external">
          <a href="#">
            <span>View all notifications</span>
            <i class="fa-link-ext"></i>
          </a>
        </li>
      </ul>
    </li>

    <script>
        var count = document.getElementById("notifications_top_bar").getElementsByTagName("li").length;
        document.getElementById("notifications_count_1").textContent = count;
        document.getElementById("notifications_count_2").textContent = count;

    </script>

    <li class="hidden-sm hidden-xs">
      <a href="#" data-toggle="sidebar">
        <i class="fa-bars"></i>
      </a>
    </li>

    <% if controller_name == 'projects' %>
      <li>
        <a href="#summary" data-toggle="tab">
          <i class="fas fa-home"></i>
          <span class="title">Home</span>
        </a>
      </li>
      <!--<li>-->
        <!--<a href="#current_sprint" data-toggle="tab">-->
          <!--<i class="fas fa-fighter-jet"></i>-->
          <!--<span class="title">Current Sprint</span>-->
        <!--</a>-->
      <!--</li>-->
      <li>
        <a href="#invoices" data-toggle="tab">
          <i class="fas fa-paper-plane"></i>
          <span class="title">Sprints</span>
        </a>
      </li>
      <li>
        <a href="#customers" data-toggle="tab">
          <i class="fas fa-user"></i>
          <span class="title">Customers</span>
        </a>
      </li>
      <li>
        <a href="#" data-toggle="settings-pane" id="payment_nav_button" data-animate="true">
        <i class="fas fa-money-bill-alt"></i>
          Payments
          <% payment_requests = @project.payment_requests %>
          <% unless payment_requests.empty? %>
            <span class="badge badge-secondary pull-right"><%= payment_requests.count.to_s %></span>
          <% end %>
        </a>
      </li>
      <li>
        <a href="#settings" data-toggle="tab">
          <i class="fas fa-cogs"></i>
          <span class="title">Settings</span>
        </a>
      </li>
    <% else %>
      <li>
        <a href="
          <% root_path %>">
          <i class="fas fa-bookmark"></i>
          <span class="title">Home</span>
        </a>
      </li>
    <% end %>

  </ul>

  <ul class="user-info-menu right-links list-inline list-unstyled">

    <!--<li class="search-form">&lt;!&ndash; You can add "always-visible" to show make the search input visible &ndash;&gt;-->

    <!--<form name="userinfo_search_form" method="get" action="extra-search.html">-->
    <!--<input type="text" name="s" class="form-control search-field" placeholder="Type to search..."/>-->

    <!--<button type="submit" class="btn btn-link">-->
    <!--<i class="linecons-search"></i>-->
    <!--</button>-->
    <!--</form>-->

    <!--</li>-->

    <li>
      <a href="javascript:;" onclick="jQuery('#create_note_modal').modal('show');"_c>
        <i class="fas fa-sticky-note"></i>
      </a>
    </li>

    <li class="dropdown user-profile">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <% if current_user.image.url.nil? %>
          <img src="<%= image_path 'user-4.png' %>" alt="user-image" class="img-circle img-inline userpic-32" width="28"/>
        <% else %>
          <img src="<%= image_path current_user.image.url %>" alt="user-image" class="img-circle img-inline userpic-32" width="28"/>
        <% end %>
        <span>
          <%= current_user.first_name %> <%= current_user.last_name %>
          <i class="fa-angle-down"></i>
        </span>
      </a>

      <ul class="dropdown-menu user-profile-menu list-unstyled">
        <li>
          <a href="<%= new_project_path %>">
            <i class="fa-edit"></i>
            New Project
          </a>
        </li>
        <li>
          <a href="javascript:;" onclick="jQuery('#create_note_modal').modal('show');">
            <i class="fas fa-sticky-note"></i>
            New Note
          </a>
        </li>
        <li>
          <a href="<%= edit_user_registration_path %>">
            <i class="fa-user"></i>
            Edit Profile
          </a>
        </li>
        <li class="last">
          <%= link_to('<i class="fa-lock"></i>Logout'.html_safe, destroy_user_session_path, method: :delete) %>
        </li>
      </ul>
    </li>

  </ul>

</nav>