<%#TODO: Convert these to toastr, and make the toastr sticky %>
<% if notice %>
  <script>
      toastr.success('<%= notice %>');
  </script>
<% end %>
<% if alert %>
  <script>
      toastr.success('<%= alert %>');
  </script>
<% end %>
<div class="top-notifications">
  <% if signed_in? %>
    <%# if controller_name == 'projects' %>
    <% if project.is_owner?(current_user) %>
      <% if current_user.stripe_account_id.nil? %>
        <!-- TODO:Implement CSRF Token in the Webhook response, from here -->
        <div class="alert alert-danger">
          <!--<a href="https://connect.stripe.com/express/oauth/authorize?redirect_uri=https://stripe.com/connect/default/oauth/test&client_id=ca_Ay638yBedBW7kHu008kxaiydiZ5n6O0T&state=<%#= session[:_csrf_token] %>" class="stripe-connect"><span>Connect with Stripe</span></a></div>-->
          <%= link_to '<span>Connect with Stripe (Required)</span>'.html_safe, root_url + 'users/auth/stripe_connect', class: 'stripe-connect' %>
        </div>
      <% end %>
      <% if (current_user.oauth.nil? or current_user.oauth == '') %>
        <% gh_url = 'https://github.com/login/oauth/authorize?client_id=' + ENV['GITHUB_CLIENT_ID'] %>
        <p class="alert alert-danger">
          Please Connect Jewler with GitHub, <%= link_to 'Here', authorize_github_path %>
        </p>
      <% end %>
    <% else %>
      <% if controller_name == 'projects' %>
        <% unless ApplicationHelper.github_hook_configured?(project) %>
          <p class="alert alert-danger">
            You need to add Jewler GitHub Webhook. Add it <%= link_to 'Here', authorize_github_path %>.
          </p>
        <% end %>
      <% end %>
    <% end %>
    <%# end %>
  <% end %>
</div>
<div id="success_message" class="alert alert-success" style="display:none"></div>
<div id="alert_message" class="alert alert-danger" style="display:none"></div>