<nav class="hidden-sm hidden-xs navbar user-info-navbar" role="navigation">

  <ul class="user-info-menu left-links list-inline list-unstyled">

    <li class="hidden-sm hidden-xs">
      <a href="#" data-toggle="sidebar">
        <i class="fa-bars"></i>
      </a>
    </li>

    <% if controller_name == 'projects' %>
      <li>
        <a href="#summary" data-toggle="tab">
          <i class="fas fa-home"></i>
          <span class="title">Home</span>
        </a>
      </li>
      <li>
        <a href="#timeline" data-toggle="tab">
          <i class="fas fa-sticky-note"></i>
          <span class="title">Notes</span>
        </a>
      </li>
      <li>
        <a href="#invoices" data-toggle="tab">
          <i class="fas fa-paper-plane"></i>
          <span class="title">Sprints & Invoices</span>
        </a>
      </li>
      <li>
        <a href="#customers" data-toggle="tab">
          <i class="fas fa-user"></i>
          <span class="title">Customers</span>
        </a>
      </li>
    <% else %>
      <li>
        <a href="
          <% root_path %>">
          <i class="fas fa-bookmark"></i>
          <span class="title">Home</span>
        </a>
      </li>
    <% end %>

  </ul>

  <ul class="user-info-menu right-links list-inline list-unstyled">
    <li class="search-form"><!-- You can add "always-visible" to show make the search input visible -->

      <form name="userinfo_search_form" method="get" action="extra-search.html">
        <input type="text" name="s" class="form-control search-field" placeholder="Type to search..."/>

        <button type="submit" class="btn btn-link">
          <i class="linecons-search"></i>
        </button>
      </form>

    </li>

    <li class="dropdown user-profile">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <% if current_user.image.url.nil? %>
          <img src="<%= image_path 'user-4.png' %>" alt="user-image" class="img-circle img-inline userpic-32" width="28"/>
        <% else %>
          <img src="<%= image_path current_user.image.url %>" alt="user-image" class="img-circle img-inline userpic-32" width="28"/>
        <% end %>
        <span>
          <%= current_user.first_name %> <%= current_user.last_name %>
          <i class="fa-angle-down"></i>
        </span>
      </a>

      <ul class="dropdown-menu user-profile-menu list-unstyled">
        <li>
          <a href="<%= new_project_path %>">
            <i class="fa-edit"></i>
            New Project
          </a>
        </li>
        <li>
          <a href="<%= edit_user_registration_path %>">
            <i class="fa-user"></i>
            Edit Profile
          </a>
        </li>
        <li class="last">
          <%= link_to('<i class="fa-lock"></i>Logout'.html_safe, destroy_user_session_path, method: :delete) %>
        </li>
      </ul>
    </li>

    <li>
      <a href="#" data-toggle="chat">
        <i class="fa-comments-o"></i>
      </a>
    </li>

  </ul>

</nav>