<nav class="hidden-sm hidden-xs navbar user-info-navbar" role="navigation">

  <ul class="user-info-menu left-links list-inline list-unstyled">

    <% if ApplicationHelper.display_project_nav?(controller_name, action_name) and defined? @project %>
      <li class="dropdown hover-line">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa-bell-o"></i>
          <span id="notifications_count_1" class="badge badge-purple"></span>
        </a>
        <ul class="dropdown-menu notifications">
          <li class="top">
            <p class="small">
              <span class="pull-right">Sprint <%= @project.sprint_current.to_s %></span>
              <strong><%= @project.name %></strong> Events
            </p>
          </li>
          <li>
            <ul id="notifications_top_bar" class="dropdown-menu-list list-unstyled ps-scrollbar">
              <%= render 'layouts/top_bar_notifications_dropdown', project: @project %>
            </ul>
          </li>
        </ul>
      </li>
    <% end %>

    <script>
        var count = document.getElementById("notifications_top_bar").getElementsByTagName("li").length;
        document.getElementById("notifications_count_1").textContent = count;
    </script>

    <li class="hidden-sm hidden-xs">
      <a href="#" data-toggle="sidebar">
        <i class="fa-bars"></i>
      </a>
    </li>

    <% if ApplicationHelper.display_project_nav?(controller_name, action_name) %>
      <li>
        <a href="<%= project_path(@project) %>">
          <i class="fas fa-home"></i>
          <span class="title"><%= truncate(@project.name, :length => 15) %></span>
        </a>
      </li>
      <li>
        <a href="<%= project_invoices_path(@project) %>">
          <i class="fas fa-paper-plane"></i>
          <span class="title">Sprints</span>
        </a>
      </li>
      <li>
        <a href="<%= project_project_customers_path(@project) %>">
          <i class="fas fa-user"></i>
          <span class="title">Customers</span>
        </a>
      </li>
      <% if false %>
        <% unless @project.is_owner?(current_user) %>
          <% if controller_name == 'projects' and action_name == 'show' %>
            <li>
              <a href="#" id="payment_nav_button" data-animate="true">
                <% payments_btn = '<i class="fas fa-money-bill-alt"></i> Payment Requests' %>
                <% payment_requests = @project.payment_requests %>
                <% unless payment_requests.empty? %>
                  <% payments_btn = payments_btn + ' <span class="badge badge-secondary pull-right">' + payment_requests.count.to_s + '</span>' %>
                <% end %>
                <%= payments_btn.html_safe %>
                <%#= link_to payments_btn.html_safe, display_payments_panel_path(@project.id), id: 'payment_nav_button', remote:
            true %>
              </a>
            </li>
          <% end %>
        <% end %>
      <% end %>
      <li>
        <%= link_to '<i class="fas fa-money-bill-alt"></i> Payments'.html_safe, project_payments_path(@project.id) %>
      </li>
    <% end %>

  </ul>

  <ul class="user-info-menu right-links list-inline list-unstyled">

    <!--<li class="search-form">&lt;!&ndash; You can add "always-visible" to show make the search input visible &ndash;&gt;-->

    <!--<form name="userinfo_search_form" method="get" action="extra-search.html">-->
    <!--<input type="text" name="s" class="form-control search-field" placeholder="Type to search..."/>-->

    <!--<button type="submit" class="btn btn-link">-->
    <!--<i class="linecons-search"></i>-->
    <!--</button>-->
    <!--</form>-->

    <!--</li>-->

    <% if ApplicationHelper.display_project_nav?(controller_name, action_name) %>
      <% if defined? @project %>
        <li>
          <%= link_to '<i class="fas fa-sticky-note"></i> New Note'.html_safe,
                      create_note_modal_path(@project.id),
                      remote: true %>
        </li>
      <% end %>
    <% end %>

    <li class="dropdown user-profile">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <% if current_user.image.url.nil? %>
          <img src="<%= image_path 'user-4.png' %>" alt="user-image" class="img-circle img-inline userpic-32" width="28"/>
        <% else %>
          <img src="<%= image_path current_user.image.url %>" alt="user-image" class="img-circle img-inline userpic-32" width="28"/>
        <% end %>
        <span>
          <%= current_user.first_name %> <%= current_user.last_name %>
          <i class="fa-angle-down"></i>
        </span>
      </a>

      <ul class="dropdown-menu user-profile-menu list-unstyled">
        <li>
          <a href="<%= edit_user_registration_path %>">
            <%= current_user.email %>
          </a>
        </li>
        <li>
          <a href="<%= new_project_path %>">
            <i class="fa-edit"></i>
            New Project
          </a>
        </li>
        <% if ApplicationHelper.display_project_nav?(controller_name, action_name) %>
          <% if defined? @project %>
            <li>
              <%= link_to create_note_modal_path(@project.id), remote: true do %>
                <i class="fas fa-sticky-note"></i> <span class="hide-xs hide-sm">New Note</span>
              <% end %>
            </li>
          <% end %>
        <% end %>
        <li>
          <a href="<%= edit_user_registration_path %>">
            <i class="fa-user"></i>
            Edit Profile
          </a>
        </li>
        <li class="last">
          <%= link_to('<i class="fa-lock"></i>Logout'.html_safe, destroy_user_session_path, method: :delete) %>
        </li>
      </ul>
    </li>

  </ul>

</nav>