<nav class="navbar horizontal-menu">
  <!-- set fixed position by adding class "navbar-fixed-top" -->

  <div class="navbar-inner">

    <!-- Navbar Brand -->
    <div class="navbar-brand">
      <a href="<%= root_url %>" class="logo padding-left-20">
        <img src="<%= path_to_image 'jeweler-logo-full.png' %>" width="200" alt="" class="hidden-xs"/>
        <img src="<%= path_to_image 'jeweler-logo-mini.png' %>" width="80" alt="" class="visible-xs"/>
      </a>
    </div>

    <!-- Mobile Toggles Links -->
    <div class="nav navbar-mobile">

      <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
      <div class="mobile-menu-toggle">
        <!-- data-toggle="mobile-menu-horizontal" will show horizontal menu links only -->
        <!-- data-toggle="mobile-menu" will show sidebar menu links only -->
        <!-- data-toggle="mobile-menu-both" will show sidebar and horizontal menu links -->
        <a href="#" data-toggle="mobile-menu-horizontal">
          <i class="fa-bars"></i>
        </a>
      </div>

    </div>

    <div class="navbar-mobile-clear"></div>

    <ul class="navbar-nav">
      <!-- <li class="opened active"> -->
      <li>
        <a href="<%= root_url %>">
          <i class="fas fa-home"></i>
          <span class="title">Home</span>
        </a>
      </li>
      <li>
        <a href="<%= new_user_registration_path %>">
          <i class="fa-user"></i>
          <span class="title">Register</span>
        </a>
      </li>
      <li>
        <a href="<%= new_user_session_path %>">
          <i class="fa-lock"></i>
          <span class="title">Login</span>
        </a>
      </li>
    </ul>

  </div>

</nav>