<nav class="navbar horizontal-menu">
  <!-- set fixed position by adding class "navbar-fixed-top" -->

  <div class="navbar-inner">

    <!-- Navbar Brand -->
    <div class="navbar-brand">
      <a href="<%= root_url %>" class="logo">
        <img src="<%= path_to_image 'jeweler-logo-full-white.png' %>" width="200" alt="" class="hidden-xs"/>
        <img src="<%= path_to_image 'jeweler-logo-mini-small-white.png' %>" width="80" alt="" class="visible-xs"/>
      </a>
      <a href="#" data-toggle="settings-pane" data-animate="true">
        <i class="linecons-cog"></i>
      </a>
    </div>

    <!-- Mobile Toggles Links -->
    <div class="nav navbar-mobile">

      <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
      <div class="mobile-menu-toggle">
        <!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
        <a href="#" data-toggle="settings-pane" data-animate="true">
          <i class="linecons-cog"></i>
        </a>

        <a href="#" data-toggle="user-info-menu-horizontal">
          <i class="fa-bell-o"></i>
          <span class="badge badge-success">7</span>
        </a>

        <!-- data-toggle="mobile-menu-horizontal" will show horizontal menu links only -->
        <!-- data-toggle="mobile-menu" will show sidebar menu links only -->
        <!-- data-toggle="mobile-menu-both" will show sidebar and horizontal menu links -->
        <a href="#" data-toggle="mobile-menu-horizontal">
          <i class="fa-bars"></i>
        </a>
      </div>

    </div>

    <div class="navbar-mobile-clear"></div>


    <ul class="navbar-nav">
      <!-- <li class="opened active"> -->
      <li>
        <a href="<%= root_url %>">
          <i class="fas fa-home"></i>
          <span style="color:#9987c3" class="title">Home</span>
        </a>
      </li>
    </ul>

    <ul class="nav nav-userinfo navbar-right">
      <li class="xs-left">
        <a style="color:#9987c3" href="<%= new_user_registration_path %>">
          <i class="fa-user"></i>
          Register
        </a>
      </li>
      <li class="xs-left">
        <a style="color:#9987c3" href="<%= new_user_session_path %>">
          <i class="fa-lock"></i>
          Login
        </a>
      </li>
    </ul>
    <%#= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %>
    <%#= link_to "Login", new_user_session_path, :class => 'navbar-link' %>

  </div>

</nav>